
<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="kr.co.greenart.recipe" version="0.1">
	<name>my recipe</name>
	<description>이 앱은 수업용 샘플 앱입니다.</description>
	<author href="http://drawinghow.dothome.co.kr" email="drawinghow@naver.com">hongkyung Joo </author>
	<platform name="android">
		
	</plaform>

</widget>