@charset "utf-8";

html, body  {height: 100%;}
body {min-width: 320px;font-family: NTR,'Apple SD Gothic Neo','Malgun gothic','Helvetica','Dotum', sans-serif;}
span , a , em , b {font-size: inherit;color: inherit;}


/*****************************************************************************************************/
/*  COMMON  */
#wrap {height: 100%;} /* header+footer+contents warp */
#container {padding-top: 120px;}/* contents area */

.center-align {position: relative;max-width: 1200px;margin: 0 auto;}
.center-align:after {clear: both;content: '';display: block;}

.position-r {position: relative;}
.position-a {position: absolute;}

.display-b {display:block !important;}
.display-ib {display:inline-block !important;}
.display-n {display:none !important;}
.display-t {display: table;}
.display-tc {display: table-cell;}

.clearfix { *zoom: 1; }
.clearfix:after {display:block;clear:both;content:'';}
.float-left {float: left;}
.float-right {float: right;}

.textalign-c {text-align: center !important;}
.textalign-l {text-align: left !important;}
.textalign-r {text-align: right !important;}

.fontweight-b {font-weight: bold !important;}
.fontweight-n {font-weight: normal !important;}

.v-align-0 {vertical-align: 0 !important;}
.v-align-m {vertical-align: middle !important;}
.v-align-t {vertical-align: top !important;}
.v-align-b {vertical-align: bottom !important;}

.cursor-p {cursor: pointer;}
.cursor-d {cursor: default;}


/* Width Size */
.width-100 {width: 100% !important;}
.width-95 {width: 95% !important;}
.width-90 {width: 90% !important;}
.width-85 {width: 85% !important;}
.width-80 {width: 80% !important;}
.width-70 {width: 70% !important;}
.width-60 {width: 60% !important;}
.width-50 {width: 50% !important;}
.width-40 {width: 40% !important;}
.width-30 {width: 30% !important;}
.width-20 {width: 20% !important;}
.width-15 {width: 15% !important;}
.width-10 {width: 10% !important;}

.max-width-100 {max-width: 100% !important;}
.only_pc_view {display: block;}




/*------------------------------------------------------------------------------
| 여백  16px = 1rem 기준
|.............................................................................*/
.margintop-0  { margin-top : 0 !important; }         .marginbottom-0  { margin-bottom: 0 !important; }
.margintop-10 { margin-top :0.625rem !important; }   .marginbottom-10 { margin-bottom:0.625rem !important; }
.margintop-15 { margin-top :0.9375rem !important; }  .marginbottom-15 { margin-bottom:0.9375rem !important; }
.margintop-20 { margin-top :1.25rem !important; }    .marginbottom-20 { margin-bottom:1.25rem !important; }
.margintop-30 { margin-top :1.875rem !important; }   .marginbottom-30 { margin-bottom:1.875rem !important; }
.margintop-40 { margin-top :2.5rem !important; }     .marginbottom-40 { margin-bottom:2.5rem !important; }
.margintop-50 { margin-top :3.125rem !important; }   .marginbottom-50 { margin-bottom:3.125rem !important; }
.margintop-60 { margin-top :3.75rem !important; }    .marginbottom-60 { margin-bottom:3.75rem !important; }
.margintop-70 { margin-top :4.375rem !important; }   .marginbottom-70 { margin-bottom:4.375rem !important; }
.margintop-80 { margin-top :5rem !important; }       .marginbottom-80 { margin-bottom:5rem !important; }
.margintop-90 { margin-top :5.625rem !important; }   .marginbottom-90 { margin-bottom:5.625rem !important; }
.margintop-100 { margin-top :6.25rem !important; }   .marginbottom-100 { margin-bottom:6.25rem !important; }
.marginleft-0 { margin-left: 0 !important; }         .marginright-0 { margin-right: 0 !important; }
.marginleft-10 { margin-left:0.625rem !important; }  .marginright-10 { margin-right :0.625rem !important; }
.marginleft-20 { margin-left:1.25rem !important; }   .marginright-20 { margin-right :1.25rem !important; }
.marginleft-30 { margin-left:1.875rem !important; }  .marginright-30 { margin-right :1.875rem !important; }
.marginleft-40 { margin-left:2.5rem !important; }    .marginright-40 { margin-right :2.5rem !important; }
.marginleft-50 { margin-left:3.125rem !important; }  .marginright-50 { margin-right :3.125rem !important; }

.paddingtop-0  { padding-top : 0   !important; }      .paddingbottom-0  { padding-bottom: 0 !important; }
.paddingtop-10 { padding-top :0.625rem !important; }  .paddingbottom-10 { padding-bottom:0.625rem !important; }
.paddingtop-20 { padding-top :1.25rem !important; }   .paddingbottom-20 { padding-bottom:1.25rem !important; }
.paddingtop-30 { padding-top :1.875rem !important; }  .paddingbottom-30 { padding-bottom:1.875rem !important; }
.paddingtop-40 { padding-top :2.5rem !important; }    .paddingbottom-40 { padding-bottom:2.5rem !important; }
.paddingtop-50 { padding-top :3.125rem !important; }  .paddingbottom-50 { padding-bottom:3.125rem !important; }
.paddingtop-60 { padding-top :3.75rem !important; }   .paddingbottom-60 { padding-bottom:3.75rem !important; }
.paddingtop-70 { padding-top :4.375rem !important; }  .paddingbottom-70 { padding-bottom:4.375rem !important; }
.paddingtop-80 { padding-top :5rem !important; }      .paddingbottom-80 { padding-bottom:5rem !important; }
.paddingtop-90 { padding-top :5.625rem !important; }  .paddingbottom-90 { padding-bottom:5.625rem !important; }
.paddingtop-100 { padding-top :6.25rem !important; }  .paddingbottom-100 { padding-bottom:6.25rem !important; }

.paddingleft-0 { padding-left: 0 !important; }         .paddingright-0 { padding-right: 0 !important; }
.paddingleft-8  { padding-left: 8px !important; }      .paddingright-8  { padding-right : 8px !important; }
.paddingleft-10 { padding-left:0.625rem !important; }  .paddingright-10 { padding-right :0.625rem !important; }
.paddingleft-20 { padding-left:1.25rem !important; }   .paddingright-20 { padding-right :1.25rem !important; }
.paddingleft-30 { padding-left:1.875rem !important; }  .paddingright-30 { padding-right :1.875rem !important; }
.paddingleft-40 { padding-left:2.5rem !important; }    .paddingright-40 { padding-right :2.5rem !important; }
.paddingleft-50 { padding-left:3.125rem !important; }  .paddingright-50 { padding-right :3.125rem !important; }
.paddingleft-50 { padding-left:3.125rem !important; }  .paddingright-50 { padding-right :3.125rem !important; }
.paddingleft-50 { padding-left:3.125rem !important; }  .paddingright-50 { padding-right :3.125rem !important; }
.paddingleft-60 { padding-left:3.75rem !important; }   .paddingright-60 { padding-right :3.75rem !important; }
.paddingleft-70 { padding-left:4.375rem !important; }  .paddingright-70 { padding-right :4.375rem !important; }
.paddingleft-80 { padding-left:5rem !important; }      .paddingright-80 { padding-right :5rem !important; }
.paddingleft-90 { padding-left:5.625rem !important; }  .paddingright-90 { padding-right :5.625rem !important; }
.paddingleft-100 { padding-left:6.25rem !important; }  .paddingright-100 { padding-right :6.25rem !important; }




/* Font Size */
.fontsize-0 {font-size: 0 !important;}
.fontsize-1 {font-size: 0.0625rem;}
.fontsize-2 {font-size: 0.125rem;}
.fontsize-3 {font-size: 0.1875rem;}
.fontsize-4 {font-size: 0.25rem;}
.fontsize-5 {font-size: 0.3125rem;}
.fontsize-6 {font-size: 0.375rem;}
.fontsize-7 {font-size: 0.4375rem;}
.fontsize-8 {font-size: 0.5rem;}
.fontsize-9 {font-size: 0.5625rem;}
.fontsize-10 {font-size: 0.625rem;}
.fontsize-11 {font-size: 0.6875rem;}
.fontsize-12 {font-size: 0.75rem;}
.fontsize-13 {font-size: 0.8125rem;}
.fontsize-14 {font-size: 0.875rem;}
.fontsize-15 {font-size: 0.9375rem;}
.fontsize-16 {font-size: 1rem;}
.fontsize-17 {font-size: 1.063rem;}
.fontsize-18 {font-size: 1.125rem;}
.fontsize-19 {font-size: 1.188rem;}
.fontsize-20 {font-size: 1.25rem;}
.fontsize-21 {font-size: 1.313rem;}
.fontsize-22 {font-size: 1.375rem;}
.fontsize-23 {font-size: 1.438rem;}
.fontsize-24 {font-size: 1.5rem;}
.fontsize-25 {font-size: 1.563rem;}
.fontsize-26 {font-size: 1.625rem;}
.fontsize-27 {font-size: 1.688rem;}
.fontsize-28 {font-size: 1.75rem;}
.fontsize-29 {font-size: 1.813rem;}
.fontsize-30 {font-size: 1.875rem;}
.fontsize-31 {font-size: 1.938rem;}
.fontsize-32 {font-size: 2rem;}
.fontsize-33 {font-size: 2.063rem;}
.fontsize-34 {font-size: 2.125rem;}
.fontsize-35 {font-size: 2.188rem;}
.fontsize-36 {font-size: 2.25rem;}
.fontsize-37 {font-size: 2.313rem;}
.fontsize-38 {font-size: 2.375rem;}
.fontsize-39 {font-size: 2.438rem;}
.fontsize-40 {font-size: 2.5rem;}
.fontsize-41 {font-size: 2.563rem;}
.fontsize-42 {font-size: 2.625rem;}
.fontsize-43 {font-size: 2.688rem;}
.fontsize-44 {font-size: 2.75rem;}
.fontsize-45 {font-size: 2.813rem;}
.fontsize-46 {font-size: 2.875rem;}
.fontsize-47 {font-size: 2.938rem;}
.fontsize-48 {font-size: 3rem;}
.fontsize-49 {font-size: 3.063rem;}
.fontsize-50 {font-size: 3.125rem;}
.fontsize-51 {font-size: 3.188rem;}
.fontsize-52 {font-size: 3.25rem;}
.fontsize-53 {font-size: 3.313rem;}
.fontsize-54 {font-size: 3.375rem;}
.fontsize-55 {font-size: 3.438rem;}
.fontsize-56 {font-size: 3.5rem;}
.fontsize-57 {font-size: 3.563rem;}
.fontsize-58 {font-size: 3.625rem;}
.fontsize-59 {font-size: 3.688rem;}
.fontsize-60 {font-size: 3.75rem;}


/*font weight*/
.fontweight-100 {font-weight: 100;}
.fontweight-200 {font-weight: 200;}
.fontweight-300 {font-weight: 300;}
.fontweight-400 {font-weight: 400;}
.fontweight-500 {font-weight: 500;}
.fontweight-700 {font-weight: 700;}
.fontweight-900 {font-weight: 900;}





/*------------------------------------------------------------------------------
| button style
|.............................................................................*/

/* btn-type1 */
[class^="btn-type1"] {position: relative;overflow: hidden;display: inline-block;width: auto;height: 70px;line-height: 66px;padding: 0 30px;font-size: 25px;font-family: NTB,'Apple SD Gothic Neo','Malgun gothic', sans-serif;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;vertical-align: top;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s;}
[class^="btn-type1"] span {position: relative;z-index: 1;}
[class^="btn-type1"]:hover {-webkit-box-shadow: 2px 2px 10px 2px rgba(0,0,0,.2);-moz-box-shadow: 2px 2px 10px 2px rgba(0,0,0,.2);box-shadow: 2px 2px 10px 2px rgba(0,0,0,.2);}

/* btn-type1-0 : line */
.btn-type1-0 {color: #6e0fff;border: 2px solid #6e0fff;background: transparent;}
.btn-type1-1 {background: #6e0fff;color: #fff;}
.btn-type1-1:hover {}

/* btn-type1-1 : bg-main-color */
.btn-type1-1:before {opacity: 0;content: '';position: absolute;left: 0;top: 0;width: 100%;height: 100%;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s;background: -moz-linear-gradient(-45deg,  #6e0fff 0%, #2b7592 100%);background: -webkit-linear-gradient(-45deg,  #6e0fff 0%,#2b7592 100%);background: linear-gradient(135deg,  #6e0fff 0%,#2b7592 100%);}
.btn-type1-1:hover:before { opacity: 1;}





/*------------------------------------------------------------------------------
| HEADER
|.............................................................................*/
header {position: fixed;z-index: 500;width: 100%;background: #fff;}
header>.center-align {max-width: 1920px;padding: 0 70px;height: 120px;}/*height 변경시 .gnb>li>a 높이 같이 변경 + #container padding-top 변경*/
header .logo-area {float: left;}
header .logo-area a {display: block;width: 200px;margin-top: 14px;}
header .logo-area a img {max-width: 100%;max-height: 100%;}
header .gnb-area {float: left;margin-left: 90px;}

/* GNB */
header .gnb-area .gnb {}
/* GNB 1depth */
header .gnb-area .gnb>li {}
header .gnb-area .gnb>li+li {margin-left: 72px;}
header .gnb-area .gnb>li>a {position: relative;display: block;height: 120px;line-height: 120px;color: #1b1b1b;font-size: 25px;font-family: NTB,'Apple SD Gothic Neo','Malgun gothic', sans-serif;-webkit-transition: all .4s;-moz-transition: all .4s;-ms-transition: all .4s;-o-transition: all .4s;transition: all .4s;}
/* 1depth bottom line */
header .gnb-area .gnb>li>a:after {content: '';position: absolute;z-index: 10;left: 0;bottom: 0;width: 0;height: 6px;background: #6e0fff;-webkit-transition: all .2s;-moz-transition: all .2s;-ms-transition: all .2s;-o-transition: all .2s;transition: all .2s;-webkit-border-radius: 4px 0 0 0;-moz-border-radius: 4px 0 0 0;border-radius: 4px 0 0 0;}
/* 1depth arrow */
header .gnb-area .gnb>li>a .arrow {position: relative;display: inline-block;vertical-align: middle;margin-left: 12px;width: 10px;height: 10px;margin-right: 10px;}
header .gnb-area .gnb>li>a .arrow:after {content: '';position: absolute;top: 50%;margin-top: -12px;width: 100%;height: 100%;border-left: 2px solid #1b1b1b;border-bottom: 2px solid #1b1b1b;-webkit-transform: rotate(-45deg);transform: rotate(-45deg);-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s;}
/* GNB 2depth */
header .gnb-area .gnb>li>ul {display: none;position: absolute;margin-top: -6px;background: #fff;padding: 20px 0 25px;-webkit-box-shadow: 2px 2px 10px 2px rgba(0,0,0,.05);-moz-box-shadow: 2px 2px 10px 2px rgba(0,0,0,.05);box-shadow: 2px 2px 10px 2px rgba(0,0,0,.05);-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;}
header .gnb-area .gnb>li>ul>li {float: none;}
header .gnb-area .gnb>li>ul>li>a {display: block;padding: 20px 50px 20px 30px;font-size: 25px;color: #1b1b1b;font-family: NTB,'Apple SD Gothic Neo','Malgun gothic', sans-serif;}
header .gnb-area .gnb>li>ul>li>a .desc {display: block;padding: 10px 0 0;font-size: 18px;font-family: NTR,'Apple SD Gothic Neo','Malgun gothic', sans-serif;}
header .gnb-area .gnb>li>ul>li>a,
header .gnb-area .gnb>li>ul>li>a .desc {-webkit-transition: all .4s;-moz-transition: all .4s;-ms-transition: all .4s;-o-transition: all .4s;transition: all .4s;}

/* active */
header .gnb-area .gnb>li.on>a {color: #6e0fff;}
header .gnb-area .gnb>li.on>a:after {width: 100%;}
header .gnb-area .gnb>li.on>a .arrow:after {margin-top: -5px;-webkit-transform: rotate(135deg);transform: rotate(135deg);border-left-color: #6e0fff;border-bottom-color: #6e0fff;}
header .gnb-area .gnb>li.on>ul {/*display: block; - script*/z-index: 5;}
header .gnb-area .gnb>li>ul>li>a:hover,
header .gnb-area .gnb>li>ul>li.on>a,
header .gnb-area .gnb>li>ul>li>a:hover .desc,
header .gnb-area .gnb>li>ul>li.on>a .desc  {color: #6e0fff;}

/* login btn */
header .topbtn-area {float: right;height: 100%;display: table;}
header .topbtn-area .btnwarp {display: table-cell;vertical-align: middle;}
header .topbtn-area button+button {margin-left: 10px;}

/* HEADER - mobile */
header .mobile-gnb-open  {display: none;}
header .gnb-area-mobile  {display: none;}



/*------------------------------------------------------------------------------
| FOOTER
|.............................................................................*/
footer {background: #333;}
footer .footer1 {padding: 100px 0 100px;border-bottom: 1px solid #adadad;}
footer .footer1 .link-area {display: table;width: 100%;}
footer .footer1 .link {display: table-cell;float: none;vertical-align: top;}
footer .footer1 .link:after {clear: both;content: '';display: block;}
footer .footer1 .link:last-child ul {float: right;}
footer .footer1 .link ul {}
footer .footer1 .link li {float: none;}
footer .footer1 .link li+li {margin-top: 8px;}
footer .footer1 .link li.mainmenu {margin-bottom: 10px;font-size: 24px;font-family: NTB,'Apple SD Gothic Neo','Malgun gothic', sans-serif;color: #bcbcbc;}
footer .footer1 .link li a {display: inline-block;padding: 5px 0;font-size: 24px;color: #a0a0a0;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s;}
footer .footer1 .link li a:hover {color: #fff;}

footer .footer2 {position: relative;padding: 50px 0 100px;}
footer .footer2 .logo {margin-bottom: 30px;}
footer .footer2 .logo a {}
footer .footer2 .floating {position: absolute;right: 0;top: 33px;}
footer .footer2 .floating .sns {}
footer .footer2 .floating .sns a {display: inline-block;vertical-align: middle;}
footer .footer2 .floating .sns a+a {margin-left: 15px;}
footer .footer2 .floating .sns .btn-instagram {}
footer .footer2 .floating .sns .btn-facebook {}
footer .footer2 .floating .sns .btn-kakaotalk {}
footer .footer2 .floating .language {margin-top: 20px;}
footer .footer2 .floating .language .btn-current {display: block;width: 100%;
	position: relative;display: block;padding: 8px 0;background: #5c5c5c;color: #000;text-align: center;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;} /*toggle btn*/
footer .footer2 .floating .language .btn-current span {margin-left: -10px;color: #bcbcbc;font-size: 15px;font-family: 'HelveticaNeue-Medium','helvetica',sans-serif;}
/*화살표*/
footer .footer2 .floating .language .btn-current .arrow:after {content: '';position: absolute;top: 50%;margin-top: -6px;margin-left: 10px;width: 6px;height: 6px;border-left: 3px solid #bcbcbc;border-bottom: 3px solid #bcbcbc;-webkit-transform: rotate(-45deg);transform: rotate(-45deg);-webkit-transition: all .2s;-moz-transition: all .2s;-ms-transition: all .2s;-o-transition: all .2s;transition: all .2s;}
footer .footer2 .floating .language.on .btn-current .arrow:after {margin-top: -3px;-webkit-transform: rotate(135deg);transform: rotate(135deg);}

footer .footer2 .floating .language ul {display: none;margin-top: 1px;}
/*footer .footer2 .floating .language ul.on {display: block;}*/
footer .footer2 .floating .language li {float: none;}
footer .footer2 .floating .language li+li {margin-top: 1px;}
footer .footer2 .floating .language li a {display: block;padding: 8px 0;background: #5c5c5c;text-align: center;color: #bcbcbc;font-size: 15px;font-family: 'HelveticaNeue-Medium','helvetica',sans-serif;-webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
footer .footer2 .info1 {}
footer .footer2 .info1 ul {}
footer .footer2 .info1 li {}
footer .footer2 .info1 li+li {margin-left: 42px;}
footer .footer2 .info1 li a {display: block;padding: 5px 0;font-size: 24px;font-weight: bold;color: #bcbcbc;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s;}
footer .footer2 .info1 li a:hover {color: #fff;}
footer .footer2 .info2 {margin-top: 10px;}
footer .footer2 .info2 p {line-height: 1.6;font-family: NTR,'Apple SD Gothic Neo','Malgun gothic', sans-serif;font-size: 18px;color: #868686;float: none;}
footer .footer2 .info2 .bar {display: inline-block;margin: 0 5px;}









/*------------------------------------------------------------------------------
| RESPONSIBLE - MediaQuery Size
|.............................................................................*/
/* PC *******************************************************/
@media screen and (max-width: 1600px) {




}
@media screen and (max-width: 1024px) {  /* PC to Tablet : 0~1024 */
	html {font-size: 15px; /*=1rem*/ }/* Font Size Setting */

	/* pc - common */









}
/* Tablet ************************************************/
@media screen and (max-width: 786px) { /* Tablet to Mobile : 0~786 */
	html {font-size: 14px; /*=1rem*/ }/* Font Size Setting */

	/* tablet - common */
	.only_pc_hide {display: none;}












}
/* Mobile ************************************************/
@media screen and (max-width: 481px) { /* Mobile : 0~481 */
	html {font-size: 13px; /*=1rem*/ }/* Font Size Setting */

/* mobile - common */










