@charset "utf-8";

/* MAIN PAGE CSS */
[class^="home_"] .img-area img {vertical-align: middle;}
#home_graphic {position: relative;padding: 11.6rem 0 11rem;text-align: center;}
#home_graphic>.center-align {}
#home_graphic .sub-text1 {margin-top: 2.188rem;}
#home_graphic .btn-area {margin-top: 2.5rem;}
#home_graphic .btn-area button {margin: 0 0.9375rem;}
#home_graphic em {font-style: normal;}



#home_gif {padding-bottom: 11rem;text-align: center;}
#home_gif>.center-align img {max-width: 100%;}



#home_brand {background: #333;padding: 6.6rem 0 6rem;text-align: center;}
#home_brand>.center-align {}
#home_brand .title-type3 {color: #fff;}
#brand_rolling {margin-top: 4.375rem;}
#brand_rolling .imgbox_wrap {display: table;width: 80%;margin: 0 auto;}
#brand_rolling .imgbox {display: table-cell;height: 60px;vertical-align: middle;text-align: center;}
#brand_rolling .imgbox img {max-width: 100%;max-height: 100%;}



#home_search {overflow: hidden;position: relative;background: #f6f2fd;padding: 9.375rem 0 8.75rem;text-align: center;}
#home_search>.center-align {}
#home_search .sub-text2 {margin-top: 1.75rem;}
#home_search .sub-text2 .fire {display: inline-block;}
#home_search .sub-text2 .fire img {max-height: 100%;max-width: 100%;}

#home_search .search-bar {position: relative;z-index: 10;width: 82%;margin: 3.125rem auto 0;}
#home_search .search-bar:after {clear: both;content: '';display: block;}
#home_search .search-bar .sns-select,
#home_search .search-bar .btn-search,
#home_search .search-bar .autocomplete-box {height: 6.25rem;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

#home_search .search-bar .sns-select {float: left;width: 30%;position: relative;border: 3px solid #000;border-right: none;background: #fff;-webkit-border-radius: 1.875rem 0 0 1.875rem;-moz-border-radius: 1.875rem 0 0 1.875rem;border-radius: 1.875rem 0 0 1.875rem;}
#home_search .search-bar .sns-select .sns-current,
#home_search .search-bar .sns-select .sns-list li button {font-size: 1.75rem;font-family: HelveticaNeue, sans-serif;font-weight: 700;background: transparent;}

#home_search .search-bar .sns-select .sns-current {display: block;width: 100%;height: 100%;text-align: center;}
#home_search .search-bar .sns-select .sns-current .arrow {display: inline-block;width: 1.6rem;height: 1.1rem;margin: -0.55rem -1.3rem 0 0.9375rem;background: url(../images/common/search-arrow.png) center center no-repeat;-webkit-background-size: contain;background-size: contain;vertical-align: middle;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s;}
#home_search .search-bar .sns-select.on .sns-current .arrow {-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);}

#home_search .search-bar .sns-select .sns-icon {display: inline-block;width: 1.875rem;height: 1.875rem;margin-right: 0.625rem;margin-top: -.4rem;vertical-align: middle;}
#home_search .search-bar .sns-select .sns-icon img {max-width: 100%;max-height: 100%;vertical-align: top;}
#home_search .search-bar .sns-select .sns-icon+span {display: inline-block;vertical-align: middle;margin-top: -.5rem;}

#home_search .search-bar .sns-select .sns-list {display: none;position: absolute;z-index: 10;width: 100%;z-index: 10;padding: 1.25rem 0;background: #fff;-webkit-border-radius: 0.625rem;-moz-border-radius: 0.625rem;border-radius: 0.625rem;-webkit-box-shadow: 0.6875rem 1.125rem 1rem 0.375rem rgba(0,0,0,.2);-moz-box-shadow: 0.6875rem 1.125rem 1rem 0.375rem rgba(0,0,0,.2);box-shadow: 0.6875rem 1.125rem 1rem 0.375rem rgba(0,0,0,.2);border-top: 1px solid #ddd;}
#home_search .search-bar .sns-select .sns-list ul {}
#home_search .search-bar .sns-select .sns-list li {float: none;padding: 0.625rem 1.875rem;}
#home_search .search-bar .sns-select .sns-list li+li {}
#home_search .search-bar .sns-select .sns-list li button {display: block;background: transparent;padding: 0.3125rem 0;color: #aaa;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s;}
#home_search .search-bar .sns-select .sns-list li button:hover {color: #333;}

#home_search .search-bar .autocomplete-box {float: left;width: 70%;background: #fff;border-top: 3px solid #000;border-bottom: 3px solid #000;-webkit-border-radius: 0 1.875rem 1.875rem 0;-moz-border-radius: 0 1.875rem 1.875rem 0;border-radius: 0 1.875rem 1.875rem 0;text-align: left;}
#home_search .search-bar .autocomplete-box .input-text {position: relative;width: 100%;height: 100%;vertical-align: middle;border: none;font-size: 1.625rem;color: #868686;background: transparent;box-sizing: border-box;padding-right: 10rem;}

#home_search .search-bar .btn-search {position: absolute;right: 0;top: 0;-webkit-border-radius: 0 1.875rem 1.875rem 0;-moz-border-radius: 0 1.875rem 1.875rem 0;border-radius: 0 1.875rem 1.875rem 0;width: 7.5rem/*120px*/;background: #6e0fff url(../images/common/search-btn.png) center center no-repeat;-webkit-background-size: 37%;background-size: 37%;text-align: center;overflow: hidden;}
#home_search .search-bar .btn-search span {position: relative;display: block;height: 100%;}

#home_search .box-list {width: 85%;margin: 3.125rem auto 0;}
#home_search .box-list li {width: 33.33333%;}
#home_search .box-list li .display-t {width: 85%;height: 9.375rem;margin: 0 auto;}
#home_search .box-list li .display-tc {vertical-align: middle;background: #fff;-webkit-border-radius: 1.875rem;-moz-border-radius: 1.875rem;border-radius: 1.875rem;font-size: 1.625rem;color: #333;font-family: NTM,'Apple SD Gothic Neo','Malgun gothic', sans-serif;line-height: 1.4;text-align: center;}
#home_search .box-list li .display-tc .text {display: inline-block;text-align: left;}
#home_search .box-list li .display-tc .text i {display: inline-block;margin-left: 0.625rem;position: absolute;margin-top: -2px;}





#home_data {padding: 12.5rem 0 11.88rem;background: #000518 url(../images/main/home_data-bg.jpg) center bottom no-repeat;text-align: center;-webkit-background-size: cover;background-size: cover;}
#home_data>.center-align {}
#home_data .title-type3 {line-height: 1.7;color: #fff;}




#home_quality {padding: 5.625rem 0 6.875rem;background: #f9f9f9;text-align: center;}
#home_quality>.center-align {}
#home_quality .title-type3 {color: #323232;}
#home_quality .quality-list {margin-top: 4.375rem;}
#home_quality .quality-list li {width: 33.3333%;}
#home_quality .quality-list li div {position: relative;padding: 2.5rem 0;color: #474747;font-size: 1.625rem;line-height: 1.4;}
#home_quality .quality-list li div:before {content: '';position: absolute;left: 0;top: 1.563rem;width: 100%;height: 100%;background: url(../images/main/quality_list_bg.png) center center no-repeat;-webkit-background-size: contain;background-size: contain;}
#home_quality .quality-list li div span {position: relative;}
#home_quality .quality-list li div span b {}




.home_service {min-height: 32.5rem/*520px*/;background: #fff;}
.home_service .img-area {position: absolute;}
.home_service .img-area img {max-width: 100%;}
.home_service .text-area {position: relative;z-index: 2;max-width: 50%;}
.home_service .sub-text2 {margin-top: 1.25rem;font-size: 1.375rem;line-height: 1.5;color: #494949;}
.home_service .sub-text2 p+p {margin-top: 1.563rem;}
.home_service .js-toggle-content {margin-top: 2rem;}
.home_service .js-toggle-content dt {}
.home_service .js-toggle-content dt .btn-toggle {position: relative;display: block;padding: .4rem 1rem .2rem 0;background: transparent;font-size: 1.625rem;color: #1b1b1b;font-family: NTB,'Apple SD Gothic Neo','Malgun gothic', sans-serif;}
.home_service .js-toggle-content dt .arrow {position: relative;display: inline-block;vertical-align: middle;margin-left: 0.75rem;margin-right: 1.5rem;width: .8rem;height: 0.8rem;}
.home_service .js-toggle-content dt .arrow:after {content: '';position: absolute;top: 50%;margin-top: -0.9rem;width: 100%;height: 100%;border-left: 3px solid #1b1b1b;border-bottom: 3px solid #1b1b1b;-webkit-transform: rotate(-45deg);transform: rotate(-45deg);-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s;}
.home_service .js-toggle-content dt.on .arrow:after {margin-top: -0.5rem;-webkit-transform: rotate(135deg);transform: rotate(135deg);}
.home_service .js-toggle-content dt.on+dd {/*display: block;*/}
.home_service .js-toggle-content dd {display: none;margin: .8rem 0 1rem;padding: 1.5rem 2rem;line-height: 1.4;font-size: 1.375rem;color: #494949;-webkit-border-radius: 0 1.875rem 1.875rem 1.875rem;-moz-border-radius: 0 1.875rem 1.875rem 1.875rem;border-radius: 0 1.875rem 1.875rem 1.875rem;-webkit-box-shadow: 0.25rem 0.25rem 0.75rem 0 rgba(0,0,0,.2);-moz-box-shadow: 0.25rem 0.25rem 0.75rem 0 rgba(0,0,0,.2);box-shadow: 0.25rem 0.25rem 0.75rem 0 rgba(0,0,0,.2);}
.home_service .js-toggle-content dd .btn-area {margin-top: .7rem;}
.home_service .js-toggle-content dd .btn-area button {}
.home_service .list-type1 {margin-top: 2.5rem;}
.home_service .list-type1 li {position: relative;float: none;padding-left: 16px;line-height: 1.5;font-size: 1.375rem;color: #494949;text-align: left;}
.home_service .list-type1 li+li {margin-top: 0.125rem;}
.home_service .list-type1 li:before {content: '';position: absolute;left: 0;top: 12px;width: 0.375rem;height: 0.375rem;background: #494949;-webkit-border-radius: 3.125rem;-moz-border-radius: 3.125rem;border-radius: 3.125rem;}
.home_service .btn-area {margin-top: 3rem;}

#home_service1 {padding-top: 10rem;}
#home_service1 .img-area {left: -12.63rem/*202px*/;top: -1.25rem;width: 51.06rem/*817px*/;}
#home_service1 .text-area {margin-left: 45rem/*720px*/;}
#home_service1 i.hand {display: inline-block;position: relative;top: -.4rem;margin-left: .5rem;width: 1.2rem;}
#home_service1 i.hand img {width: 100%;}

#home_service2 {padding-top: 10rem;}
#home_service2 .img-area {right: -15.13rem/*242px*/;top: 0;width: 59.63rem/*954px*/;}

#home_service3 {padding: 11rem 0 10rem;}
#home_service3 .img-area {left: -6.875rem;top: -4.4rem;width: 49.75rem/*796px*/;}
#home_service3 .text-area {margin-left: 45rem;}
#home_service3 .icon-rocket {display: inline-block;width: 2rem;}
#home_service3 .icon-rocket img {max-width: 100%;}

#home_service4 {padding-top: 11rem;}
#home_service4 .img-area {right: 0;top: -3.125rem;width: 42.94rem/*687px*/;}
#home_service4 .text-area {max-width: 40%;}

#home_service5 {padding: 10rem 0 9rem;}
#home_service5 .img-area {left: -13.25rem/*212px*/;top: -5rem/*80px*/;width: 59.94rem/*959px*/;}
#home_service5 .text-area {margin-left: 43rem/*688px*/;}
#home_service5 .text-area .i1 {display: inline-block;position: relative;top: -0.375rem;margin-right: 0.375rem;}




/* #home_graphic bg Animation *********************************/
.graphic-bg {}
.graphic-bg li {position: absolute;display: block;list-style: none;z-index: -1;float: none;
  -webkit-animation: animate-up-rotate 25s linear infinite;
  -moz-animation: animate-up-rotate 25s linear infinite;
  -ms-animation: animate-up-rotate 25s linear infinite;
  -o-animation: animate-up-rotate 25s linear infinite;
  animation: animate-up-rotate 25s linear infinite;
}

@-webkit-keyframes animate-up-rotate {
  0% {transform: translateY(0) rotate(0deg); opacity: 0;}
  2% {opacity: 1;}
  98% {opacity: 1;}
  100% {opacity: 0;transform: translateY(-50rem) rotate(360deg);/*-800*/}
}
@-moz-keyframes animate-up-rotate {
  0% {transform: translateY(0) rotate(0deg);  opacity: 0;}
  2% {opacity: 1;}
  98% {opacity: 1;}
  100% {opacity: 0;transform: translateY(-50rem) rotate(360deg); }
}
@-ms-keyframes animate-up-rotate {
  0% {transform: translateY(0) rotate(0deg);  opacity: 0;}
  2% {opacity: 1;}
  98% {opacity: 1;}
  100% {opacity: 0;transform: translateY(-50rem) rotate(360deg); }
}
@-o-keyframes animate-up-rotate {
  0% {transform: translateY(0) rotate(0deg);  opacity: 0;}
  2% {opacity: 1;}
  98% {opacity: 1;}
  100% {opacity: 0;transform: translateY(-50rem) rotate(360deg); }
}
@keyframes animate-up-rotate {
  0% {transform: translateY(0) rotate(0deg);  opacity: 0;}
  2% {opacity: 1;}
  98% {opacity: 1;}
  100% {opacity: 0;transform: translateY(-50rem) rotate(360deg); }
}

.graphic-bg li img {max-width: 100%;max-height: 100%;}
.graphic-bg li:nth-child(1) {
  top: 6.938rem;/*111*/
  left: 14%;
  width: 6.813rem;/*109*/
  height: 6.813rem;
  /*animation-delay: 6s;*/
  animation-duration: 120s;
}

.graphic-bg li:nth-child(2) {
  top: 19.44rem;/*311*/
  left: 14%;
  width: 1.875rem;/*30*/
  height: 1.875rem;/*30*/
  /*animation-delay: 2s;*/
  animation-duration: 500s;
}

.graphic-bg li:nth-child(3) {
  top: 22.06rem;/*353*/
  left: 20%;
  width: 2.188rem;/*35*/
  height: 2.188rem;/*35*/
  animation-duration: 400s;
}

.graphic-bg li:nth-child(4) {
  top: 31.38rem;/*502*/
  left: 11%;
  width: 2.813rem;/*45*/
  height: 2.813rem;;
  /*animation-delay: 10s;*/
  animation-duration: 300s;
}

.graphic-bg li:nth-child(5) {
  top: 44rem;/*704*/
  left: 27%;
  width: 0.8125rem;/*13*/
  height: 0.8125rem;
  /*animation-delay: 20s;*/
  animation-duration: 180s;
}

.graphic-bg li:nth-child(6) {
  top: 3.875rem;/*62*/
  left: 48%;
  width: 4.375rem;/*70*/
  height: 4.375rem;
  /*animation-delay: 1s;*/
  animation-duration: 500s;
}

.graphic-bg li:nth-child(7) {
  top: 2.813rem;/*45*/
  left: 67%;
  width: 17.06rem;/*273*/
  height: 17.06rem;
  /*animation-delay: 15s;*/
  animation-duration: 300s;
}

.graphic-bg li:nth-child(8) {
  top: 6.875rem;/*110*/
  left: 82%;
  width: 2.188rem;/*35*/
  height: 2.188rem;
  /*animation-delay: 10s;*/
  animation-duration: 150s;
}

.graphic-bg li:nth-child(9) {
  top: 13.69rem;/*219*/
  left: 77%;
  width: 4.375rem;/*70*/
  height: 4.375rem;
  animation-delay: 5s;
  animation-duration: 800s;
}

.graphic-bg li:nth-child(10) {
  top: 23.5rem;/*376*/
  left: 83%;
  width: 3.125rem;/*50*/
  height: 3.125rem;
  /*animation-delay: 20s;*/
  animation-duration: 100s;
}

.graphic-bg li:nth-child(11) {
  top: 25rem;/*400*/
  left: 81.5%;
  width: 2.5rem;
  height: 1.75rem;/*28*/
  /*animation-delay: 2s;*/
  animation-duration: 300s;
}

.graphic-bg li:nth-child(12) {
  top: 32.81rem;/*525*/
  left: 90%;
  width: 0.8125rem;/*13*/
  height: 0.8125rem;
  /*animation-delay: 3s;*/
  animation-duration: 600s;
}

.graphic-bg li:nth-child(13) {
  top: 31.69rem;/*507*/
  left: 75%;
  width: 2.688rem;/*43*/
  height: 2.688rem;
  /*animation-delay: 30s;*/
  animation-duration: 120s;
}




/* #home_search bg Animation *******/
.search-bg li {
  position: absolute;display: block;list-style: none;z-index: 0;float: none;
  -webkit-animation: animate-up-rotate 25s linear infinite;
  -moz-animation: animate-up-rotate 25s linear infinite;
  -ms-animation: animate-up-rotate 25s linear infinite;
  -o-animation: animate-up-rotate 25s linear infinite;
  animation: animate-up-rotate 25s linear infinite;
}
.search-bg li img {max-width: 100%;max-height: 100%;}
.search-bg li:nth-child(1) {
  top: 9.563rem;/*153*/
  left: 10%;
  width: 1.875rem;/*30*/
  height: 1.875rem;/*30*/
  animation-delay: 5s;
  animation-duration: 40s;
}

.search-bg li:nth-child(2) {
  top: 11.13rem;/*178*/
  left: 26%;
  width: 6.25rem;/*100*/;
  height: 6.25rem;/*100*/;
  animation-delay: 15s;
  animation-duration: 300s;
}

.search-bg li:nth-child(3) {
  top: 18.88rem;/*302*/
  left: 17%;
  width: 5rem;/*80*/
  height: 1.813rem;/*29*/
  animation-delay: 2s;
  animation-duration: 400s;
}

.search-bg li:nth-child(4) {
  top: 20.69rem;/*331*/
  left: 14%;
  width: 5rem;/*80*/
  height: 1.875rem;/*30*/
  animation-delay: 1s;
  animation-duration: 150s;
}

.search-bg li:nth-child(5) {
  top: 37.19rem;/*595*/
  left: 12%;
  width: .9375rem;/*15*/
  height: .9375rem;;
  animation-delay: 3s;
  animation-duration: 50s;
}

.search-bg li:nth-child(6) {
  top: 4.688rem;/*75*/
  left: 60%;
  width: 8.125rem;/*130*/
  height: 8.125rem;/*130*/
  animation-delay: 30s;
  animation-duration: 300s;
}

.search-bg li:nth-child(7) {
  top: 6.625rem;/*106*/
  left: 65%;
  width: 1.25rem;/*20*/
  height: 1.25rem;
  animation-delay: 0s;
  animation-duration: 70s;
}

.search-bg li:nth-child(8) {
  top: 12.5rem;/*200*/;
  left: 86%;
  width: 2.5rem;/*40*/
  height: 2.5rem;
  animation-delay: 3s;
  animation-duration: 120s;
}

.search-bg li:nth-child(9) {
  top: 13.56rem;/*217*/
  left: 84.2%;
  width: 3.75rem;/*60*/
  height: 2.688rem;/*43*/
  animation-delay: 18s;
  animation-duration: 260s;
}

.search-bg li:nth-child(10) {
  top: 34.88rem;/*558*/
  left: 90%;
  width: 6.25rem;/*100*/;
  height: 6.25rem;/*100*/;
  animation-delay: 50s;
  animation-duration: 300s;
}

.search-bg li:nth-child(11) {
  top: 37.81rem;/*605*/
  left: 89%;
  width: 3.75rem;/*60*/
  height: 3.75rem;
  animation-delay: 5s;
  animation-duration: 120s;
}

.search-bg li:nth-child(12) {
  top: 24.19rem;/*387*/
  left: 30%;
  width: 2.5rem;/*40*/
  height: 2.5rem;
  animation-duration: 70s;
}







/*------------------------------------------------------------------------------
| RESPONSIBLE - MediaQuery Size
|.............................................................................*/
/* PC *******************************************************/
@media screen and (max-width: 1024px) {  /* PC to Tablet : 0~1024 */

  #brand_rolling .imgbox {height: 4rem;}

  #home_search .search-bar .sns-select {width: 35%;}
  #home_search .search-bar .autocomplete-box {width: 65%;}
  #home_search .search-bar .sns-select .sns-current {font-size: 1.3rem;}
  #home_search .search-bar .sns-select .sns-list li button {font-size: 1.3rem;}

  .home_service .img-area {position: relative;left: auto !important;top: auto !important;right: auto !important;width: 80% !important;margin: 3rem auto 0;}
  .home_service .text-area {margin: 0 auto !important;width: 70% !important;max-width: none !important;text-align: center;}
  .home_service .text-area .sub-text2 br,
  .home_service .text-area .list-type1 br {display: none;}
  .home_service .list-type1 {display: inline-block;}
  .home_service .js-toggle-content {float: none;}

  #home_service1 {padding-top: 6rem;}
  #home_service2 {padding-top: 6rem;}
  #home_service3 {padding-top: 6rem;padding-bottom: 3rem;}
  #home_service4 {padding-top: 6rem;}
  #home_service5 {padding-top: 6rem;padding-bottom: 0;}









}
/* Tablet ************************************************/
@media screen and (max-width: 786px) { /* Tablet to Mobile : 0~786 */

  #home_graphic {padding: 6rem 0;}
  #home_graphic .underline1:before {display: none;}
  #home_graphic .underline1 em {position: relative;display: inline-block;}
  #home_graphic .underline1 em:before {content: '';position: absolute;left: 0;width: 100%;height: 100%;bottom: -0.2rem;background: url(../images/common/underline1.png) 0 bottom no-repeat;-webkit-background-size: auto 50%;background-size: auto 50%;z-index: -1;}
  #home_graphic .btn-area button {display: block;margin: 0 auto;min-width: 80%;}
  #home_graphic .btn-area button+button {margin-top: 1rem;}


  #home_gif {padding-bottom: 6rem;}


  #home_brand {padding: 5rem 0;}
  #home_brand .title-type3 br {display: none;}
  #brand_rolling {margin-top: 2rem;}
  #brand_rolling .imgbox {height: 3rem;}


  #home_search {padding: 6rem 0;}
  #home_search .sub-text2 .fire {width: 1.5rem;}
  #home_search .search-bar {width: 70%;}
  #home_search .search-bar .sns-select, #home_search .search-bar .btn-search, #home_search .search-bar .autocomplete-box {height: 4.8rem;}
  #home_search .search-bar .sns-select {width: 26%;}
  #home_search .search-bar .sns-select .sns-current {font-size: 0 !important;}
  #home_search .search-bar .sns-select .sns-current .sns-icon {}
  #home_search .search-bar .sns-select .sns-list {padding: 1rem 0;}
  #home_search .search-bar .sns-select .sns-list li {padding: 0.625rem 3rem;}
  #home_search .search-bar .sns-select .sns-list li button {width: 100%;text-align: left;}
  #home_search .search-bar .sns-select .sns-list li button span {display: none;}
  #home_search .search-bar .sns-select .sns-list li:nth-child(2) .sns-icon {width: 2.2rem;}
  #home_search .search-bar .autocomplete-box {width: 74%;}
  #home_search .search-bar .autocomplete-box .input-text {font-size: 1.2rem;text-indent: 0;padding-right: 6rem;}
  #home_search .search-bar .btn-search {width: 5rem;}
  #home_search .box-list li {float: none;width: 100%;margin: 1rem 0 0;}
  #home_search .box-list li .display-t {width: auto;height: auto;display: block;}
  #home_search .box-list li .display-tc {position: relative;display: block;padding: 1rem 2rem;font-size: 1.4rem;}
  #home_search .box-list li .display-tc br {display: none;}
  #home_search .box-list li .display-tc .text i {position: absolute;right: 1.5rem;top: 50%;height: 2.2rem;margin-top: -1.1rem;}
  #home_search .box-list li .display-tc .text i img {max-height: 100%;}


  #home_data {padding: 6rem 0;}
  #home_data .title-type3 br {display: none;}


  .home_service .sub-text2 {margin-top: 1.8rem;}
  .home_service .text-area {width: auto !important;}
  .home_service .img-area {width: auto !important;}


  #home_quality {padding: 5rem 0;}


  /* Animation */
  .graphic-bg li:nth-child(1) {left: -5%;}
  .graphic-bg li:nth-child(2) {left: 10%;}
  .graphic-bg li:nth-child(3) {left: 5%;}
  .graphic-bg li:nth-child(4) {left: 20%;}
  .graphic-bg li:nth-child(5) {}
  .graphic-bg li:nth-child(6) {left: 13%;}
  .graphic-bg li:nth-child(7) {}
  .graphic-bg li:nth-child(8) {left: 80%;}
  .graphic-bg li:nth-child(9) {left: 82%;}
  .graphic-bg li:nth-child(10) {left: 95%;}
  .graphic-bg li:nth-child(11) {left: 92%;}
  .graphic-bg li:nth-child(12) {}
  .graphic-bg li:nth-child(13) {}

  .search-bg li:nth-child(1) {}
  .search-bg li:nth-child(2) {top: 2rem;left: -3%;}
  .search-bg li:nth-child(3) {left: -8%;}
  .search-bg li:nth-child(4) {}
  .search-bg li:nth-child(5) {left: 20%;}
  .search-bg li:nth-child(6) {}
  .search-bg li:nth-child(7) {}
  .search-bg li:nth-child(8) {left: 88%;}
  .search-bg li:nth-child(9) {left: 92%;}
  .search-bg li:nth-child(10) {}
  .search-bg li:nth-child(11) {left: 95%;opacity: .2;}


}
/* Mobile ************************************************/
@media screen and (max-width: 481px) { /* Mobile : 0~481 */

  #home_search .search-bar {width: 100%;}
  #home_search .search-bar .sns-select .sns-list li {padding: 0.6rem 1rem;text-align: center;}
  #home_search .search-bar .sns-select .sns-list li button {text-align: center;}
  #home_search .search-bar .sns-select .sns-current .arrow {margin-top: -.05rem;margin-right: -1rem;}

  #home_quality {padding: 3rem 0;}
  #home_quality .quality-list {margin-top: 0;}
  #home_quality .quality-list li div {font-size: 1rem;}












}





