@charset "utf-8";

/* MAIN PAGE CSS */


/* Text Common */
.title-type1 {line-height: 1.3;letter-spacing: -.07rem;color: #333;font-size: 4.375rem;font-family: NTB,'Apple SD Gothic Neo','Malgun gothic', sans-serif;}
.title-type2 {line-height: 1.35;letter-spacing: -.07rem;font-size: 3.125rem;font-family: NTB,'Apple SD Gothic Neo','Malgun gothic', sans-serif;}
.sub-text1 {line-height: 1.3;font-size: 1.625rem;color: #494949;}
.sub-text2 {line-height: 1.3;font-size: 1.25rem;color: #474749;}

.title {line-height: 1.4;letter-spacing: -.02rem;font-size: 3.125rem;font-family: NTB,'Apple SD Gothic Neo','Malgun gothic', sans-serif;}



/* Color Common */
.color-main {color: #6e0fff;}
.color-sub1 {color: #18dba8;}



/* Wave Underline */
[class^="underline"] {display: inline-block;position: relative;}
[class^="underline"] b {position: relative;}
[class^="underline"]:before {content: '';position: absolute;left: 0;width: 100%;height: 100%;}
.underline1 {}
.underline1:before {bottom: -0.6rem;background: url(../images/main/underline1.svg) 0 bottom no-repeat;}
.underline2 {}
.underline2:before {bottom: -0.3rem;background: url(../images/main/underline2.svg) 0 bottom no-repeat;-webkit-background-size: auto 33%;background-size: auto 33%;}




/* Main Section Contents *****************/
#home_graphic {position: relative;padding: 11.6rem 0 11rem;text-align: center;}
#home_graphic>.center-align {}
#home_graphic .sub-text1 {margin-top: 2.188rem;}
#home_graphic .btn-area {margin-top: 2.5rem;}
#home_graphic .btn-area button {margin: 0 0.9375rem;}
#home_graphic em {font-style: normal;}



/* 추후 변경 */
#home_gif {background: #efefef;padding: 18.75rem 0;text-align: center;}
#home_gif>.center-align {}



#home_brand {background: #333;padding: 6.25rem 0 5.938rem;text-align: center;}
#home_brand>.center-align {}
#home_brand .title {color: #fff;}
#brand_rolling {margin-top: 4.375rem;}
#brand_rolling .imgbox_wrap {display: table;width: 80%;margin: 0 auto;}
#brand_rolling .imgbox {display: table-cell;height: 60px;vertical-align: middle;text-align: center;}
#brand_rolling .imgbox img {max-width: 100%;max-height: 100%;}



#home_search {overflow: hidden;position: relative;background: #f6f2fd;padding: 9.375rem 0 8.75rem;text-align: center;}
#home_search>.center-align {}
#home_search .sub-text2 {margin-top: 1.75rem;}
#home_search .search-bar {position: relative;width: 82%;margin: 3.125rem auto 0;}
#home_search .search-bar:after {clear: both;content: '';display: block;}
#home_search .search-bar .sns-select,
#home_search .search-bar .btn-search,
#home_search .search-bar .autocomplete-box {height: 6.25rem;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
#home_search .search-bar .sns-select {float: left;width: 30%;position: relative;border: 3px solid #000;border-right: none;background: #fff;-webkit-border-radius: 1.875rem 0 0 1.875rem;-moz-border-radius: 1.875rem 0 0 1.875rem;border-radius: 1.875rem 0 0 1.875rem;}
#home_search .search-bar .sns-select .sns-current {display: block;width: 100%;height: 100%;background: transparent;font-size: 1.75rem;text-align: center;}
#home_search .search-bar .sns-select .sns-current	.arrow {display: inline-block;width: 1.563rem;height: 0.9375rem;margin: -0.3125rem 0 0 0.9375rem;background: url(../images/main/arrow.svg) center center no-repeat;-webkit-background-size: contain;background-size: contain;vertical-align: middle;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s;}
#home_search .search-bar .sns-select.on .sns-current	.arrow {-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);}
#home_search .search-bar .sns-select .sns-icon {display: inline-block;width: 1.875rem;height: 1.875rem;margin-right: 0.625rem;}
#home_search .search-bar .sns-select .sns-icon img {max-width: 100%;max-height: 100%;vertical-align: middle;}
#home_search .search-bar .sns-select .sns-list {display: none;position: absolute;width: 100%;z-index: 10;padding: 1.25rem 0;background: #fff;-webkit-border-radius: 0.625rem;-moz-border-radius: 0.625rem;border-radius: 0.625rem;-webkit-box-shadow: 0.6875rem 1.125rem 1rem 0.375rem rgba(0,0,0,.2);-moz-box-shadow: 0.6875rem 1.125rem 1rem 0.375rem rgba(0,0,0,.2);box-shadow: 0.6875rem 1.125rem 1rem 0.375rem rgba(0,0,0,.2);border-top: 1px solid #ddd;}
#home_search .search-bar .sns-select .sns-list ul {}
#home_search .search-bar .sns-select .sns-list li {float: none;padding: 0.625rem 1.875rem;}
#home_search .search-bar .sns-select .sns-list li+li {}
#home_search .search-bar .sns-select .sns-list li button {display: block;background: transparent;padding: 0.3125rem 0;background: transparent;font-size: 1.75rem;color: #aaa;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s;}
#home_search .search-bar .sns-select .sns-list li button:hover {color: #333;}

#home_search .search-bar .autocomplete-box {float: left;width: 70%;background: #fff;border-top: 3px solid #000;border-bottom: 3px solid #000;-webkit-border-radius: 0 1.875rem 1.875rem 0;-moz-border-radius: 0 1.875rem 1.875rem 0;border-radius: 0 1.875rem 1.875rem 0;text-align: left;}
#home_search .search-bar .autocomplete-box .input-text {position: relative;width: 100%;height: 100%;vertical-align: middle;border: none;font-size: 1.625rem;color: #868686;text-indent: 1rem;background: transparent;box-sizing: border-box;padding-right: 10rem;}
#home_search .search-bar .btn-search {position: absolute;right: 0;top: 0;-webkit-border-radius: 1.875rem;-moz-border-radius: 1.875rem;border-radius: 1.875rem;width: 7.5rem/*120px*/;background: #6e0fff url(../images/main/search-btn.svg) center center no-repeat;text-align: center;}
#home_search .search-bar .btn-search .progress {display: none;position: absolute;left: 50%;top: 50%;width: 60%;height: 60%;margin: -30% 0 0 -30%;}
#home_search .search-bar .btn-search .progress img {max-width: 100%;max-height: 100%;vertical-align: middle;}

#home_search .box-list {width: 85%;margin: 3.125rem auto 0;}
#home_search .box-list li {width: 33.33333%;}
#home_search .box-list li .display-t {width: 85%;height: 9.375rem;margin: 0 auto;}
#home_search .box-list li .display-tc {vertical-align: middle;background: #fff;-webkit-border-radius: 1.875rem;-moz-border-radius: 1.875rem;border-radius: 1.875rem;font-size: 1.625rem;color: #333;font-family: NTM,'Apple SD Gothic Neo','Malgun gothic', sans-serif;line-height: 1.4;text-align: center;}
#home_search .box-list li .display-tc .text {display: inline-block;text-align: left;}
#home_search .box-list li .display-tc .text i {display: inline-block;margin-left: 0.625rem;position: absolute;margin-top: -2px;}




#home_data {padding: 12.5rem 0 11.88rem;background: #000518 url(../images/main/home_data-bg.jpg) center bottom no-repeat;text-align: center;-webkit-background-size: cover;background-size: cover;}
#home_data>.center-align {}
#home_data .title {line-height: 1.7;color: #fff;}




#home_quality {padding: 5.625rem 0 6.875rem;background: #f9f9f9;text-align: center;}
#home_quality>.center-align {}
#home_quality .title {color: #323232;}
#home_quality .quality-list {margin-top: 4.375rem;}
#home_quality .quality-list li {width: 33.3333%;}
#home_quality .quality-list li div {position: relative;padding: 2.5rem 0;color: #474747;font-size: 1.625rem;line-height: 1.4;}
#home_quality .quality-list li div:before {content: '';position: absolute;left: 0;top: 1.563rem;width: 100%;height: 100%;background: url(../images/main/quality_list_bg.svg) center center no-repeat;-webkit-background-size: contain;background-size: contain;}
#home_quality .quality-list li div span {position: relative;}
#home_quality .quality-list li div span b {}




.home_service {min-height: 32.5rem/*520px*/;background: #fff;}
.home_service .img-area {position: absolute;}
.home_service .img-area img {max-width: 100%;}
.home_service .text-area {position: relative;z-index: 2;max-width: 50%;}
.home_service .sub-text2 {margin-top: 1.25rem;font-size: 1.375rem;line-height: 1.5;color: #494949;}
.home_service .sub-text2 p+p {margin-top: 1.563rem;}
.home_service .js-toggle-content {margin-top: 2.5rem;}
.home_service .js-toggle-content dt {}
.home_service .js-toggle-content dt .btn-toggle {position: relative;display: block;padding: .5rem 1rem 1rem 0;background: transparent;font-size: 1.625rem;color: #1b1b1b;font-family: NTB,'Apple SD Gothic Neo','Malgun gothic', sans-serif;}
.home_service .js-toggle-content dt .arrow {position: relative;display: inline-block;vertical-align: middle;margin-left: 0.75rem;margin-right: 1.5rem;width: .8rem;height: 0.8rem;}
.home_service .js-toggle-content dt .arrow:after {content: '';position: absolute;top: 50%;margin-top: -0.9rem;width: 100%;height: 100%;border-left: 3px solid #1b1b1b;border-bottom: 3px solid #1b1b1b;-webkit-transform: rotate(-45deg);transform: rotate(-45deg);-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s;}
.home_service .js-toggle-content dt.on .arrow:after {margin-top: -0.5rem;-webkit-transform: rotate(135deg);transform: rotate(135deg);}
.home_service .js-toggle-content dt.on+dd {/*display: block;*/}
.home_service .js-toggle-content dd {display: none;margin-bottom: 2.5rem;padding: 2rem;line-height: 1.4;font-size: 1.375rem;color: #494949;-webkit-border-radius: 1.875rem;-moz-border-radius: 1.875rem;border-radius: 1.875rem;-webkit-box-shadow: 0.25rem 0.25rem 0.75rem 0 rgba(0,0,0,.2);-moz-box-shadow: 0.25rem 0.25rem 0.75rem 0 rgba(0,0,0,.2);box-shadow: 0.25rem 0.25rem 0.75rem 0 rgba(0,0,0,.2);}
.home_service .js-toggle-content dd .btn-area {margin-top: 1.563rem;}
.home_service .js-toggle-content dd .btn-area button {}
.home_service .list-type1 {margin-top: 2.5rem;}
.home_service .list-type1 li {position: relative;float: none;padding-left: 16px;line-height: 1.5;font-size: 1.375rem;color: #494949;text-align: left;}
.home_service .list-type1 li+li {margin-top: 0.125rem;}
.home_service .list-type1 li:before {content: '';position: absolute;left: 0;top: 12px;width: 0.375rem;height: 0.375rem;background: #494949;-webkit-border-radius: 3.125rem;-moz-border-radius: 3.125rem;border-radius: 3.125rem;}
.home_service .btn-area {margin-top: 3.125rem;}

#home_service1 {padding-top: 8.125rem;}
#home_service1 .img-area {left: -12.63rem/*202px*/;top: -1.25rem;width: 51.06rem/*817px*/;}
#home_service1 .text-area {margin-left: 45rem/*720px*/;}

#home_service2 {padding-top: 8.125rem;}
#home_service2 .img-area {right: -15.13rem/*242px*/;top: -0.625rem;width: 59.63rem/*954px*/;}

#home_service3 {padding: 10.94rem 0 8.75rem;}
#home_service3 .img-area {left: -6.875rem;top: -4.688rem/*75px*/;width: 49.75rem/*796px*/;}
#home_service3 .text-area {margin-left: 42.19rem/*675px*/;}
#home_service3 .icon-rocket {display: inline-block;width: 2rem;}
#home_service3 .icon-rocket img {max-width: 100%;}

#home_service4 {padding-top: 10.94rem;}
#home_service4 .img-area {right: 0;top: -3.125rem;width: 42.94rem/*687px*/;}
#home_service4 .text-area {max-width: 40%;}

#home_service5 {padding: 9.375rem 0 8.75rem;}
#home_service5 .img-area {left: -13.25rem/*212px*/;top: -5rem/*80px*/;width: 59.94rem/*959px*/;}
#home_service5 .text-area {margin-left: 43rem/*688px*/;}
#home_service5 .text-area .i1 {display: inline-block;position: relative;top: -0.375rem;margin-right: 0.375rem;}



#home_start {padding: 5.625rem 0 5.938rem;background: #6e0fff;text-align: center;}
#home_start .title {line-height: 1.5;color: #fff;}
#home_start .btn-area {margin-top: 2.5rem;}




/* #home_graphic bg animation *********************************/
.graphic-bg {}
.graphic-bg li {
  position: absolute;display: block;list-style: none;  z-index: -1; /*bottom: -0px;*/
  animation: animate-up-rotate 25s linear infinite;}
.graphic-bg li img {max-width: 100%;max-height: 100%;}

.graphic-bg li:nth-child(1) {
  top: 111px;
  left: 15%;
  width: 109px;
  height: 108px;
  animation-delay: 6s;
  animation-duration: 60s;
}

.graphic-bg li:nth-child(2) {
  top: 311px;
  left: 15%;
  width: 30px;
  height: 30px;
  animation-delay: 2s;
  animation-duration: 30s;
}

.graphic-bg li:nth-child(3) {
  top: 353px;
  left: 21%;
  width: 35px;
  height: 36px;
  animation-duration: 120s;
}

.graphic-bg li:nth-child(4) {
  top: 502px;
  left: 12%;
  width: 45px;
  height: 45px;
  animation-delay: 10s;
  animation-duration: 26s;
}

.graphic-bg li:nth-child(5) {
  top: 704px;
  left: 27%;
  width: 13px;
  height: 13px;
  animation-delay: 20s;
  animation-duration: 90s;
}

.graphic-bg li:nth-child(6) {
  top: 62px;
  left: 48%;
  width: 70px;
  height: 70px;
  animation-delay: 1s;
  animation-duration: 44s;
}

.graphic-bg li:nth-child(7) {
  top: 45px;
  left: 67%;
  width: 273px;
  height: 273px;
  animation-delay: 15s;
  animation-duration: 200s;
}

.graphic-bg li:nth-child(8) {
  top: 110px;
  left: 82%;
  width: 35px;
  height: 35px;
  animation-delay: 10s;
  animation-duration: 80s;
}

.graphic-bg li:nth-child(9) {
  top: 219px;
  left: 77%;
  width: 70px;
  height: 70px;
  animation-delay: 5s;
  animation-duration: 88s;
}

.graphic-bg li:nth-child(10) {
  top: 376px;
  left: 83%;
  width: 50px;
  height: 50px;
  animation-delay: 20s;
  animation-duration: 52s;
}

.graphic-bg li:nth-child(11) {
  top: 400px;
  left: 81.5%;
  width: 40px;
  height: 28px;
  animation-delay: 2s;
  animation-duration: 27s;
}

.graphic-bg li:nth-child(12) {
  top: 525px;
  left: 90%;
  width: 13px;
  height: 13px;
  animation-delay: 3s;
  animation-duration: 46s;
}

.graphic-bg li:nth-child(13) {
  top: 507px;
  left: 75%;
  width: 43px;
  height: 43px;
  animation-delay: 30s;
  animation-duration: 12s;
}

@keyframes animate-up-rotate {
  0% {transform: translateY(0) rotate(0deg); }
  98% {opacity: 1;}
  100% {opacity: 0;transform: translateY(-800px) rotate(360deg); }
}



/* #home_search bg animation *******/
.search-bg li {
  position: absolute;display: block;list-style: none;z-index: 0;
  animation: animate-up-rotate 25s linear infinite;
}
.search-bg li img {max-width: 100%;max-height: 100%;}

.search-bg li:nth-child(1) {
  top: 153px;
  left: 10%;
  width: 30px;
  height: 30px;
  animation-delay: 5s;
  animation-duration: 20s;
}

.search-bg li:nth-child(2) {
  top: 178px;
  left: 26%;
  width: 100px;
  height: 100px;
  animation-delay: 15s;
  animation-duration: 150s;
}

.search-bg li:nth-child(3) {
  top: 302px;
  left: 17%;
  width: 80px;
  height: 29px;
  animation-delay: 2s;
  animation-duration: 200s;
}

.search-bg li:nth-child(4) {
  top: 331px;
  left: 14%;
  width: 80px;
  height: 30px;
  animation-delay: 1s;
  animation-duration: 12s;
}

.search-bg li:nth-child(5) {
  top: 595px;
  left: 12%;
  width: 15px;
  height: 15px;
  animation-delay: 3s;
  animation-duration: 30s;
}

.search-bg li:nth-child(6) {
  top: 75px;
  left: 60%;
  width: 130px;
  height: 130px;
  animation-delay: 30s;
  animation-duration: 250s;
}

.search-bg li:nth-child(7) {
  top: 106px;
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 16s;
}

.search-bg li:nth-child(8) {
  top: 200px;
  left: 86%;
  width: 40px;
  height: 40px;
  animation-delay: 3s;
  animation-duration: 34s;
}

.search-bg li:nth-child(9) {
  top: 217px;
  left: 84.2%;
  width: 60px;
  height: 43px;
  animation-delay: 18s;
  animation-duration: 130s;
}

.search-bg li:nth-child(10) {
  top: 558px;
  left: 90%;
  width: 100px;
  height: 100px;
  animation-delay: 50s;
  animation-duration: 210s;
}

.search-bg li:nth-child(11) {
  top: 605px;
  left: 89%;
  width: 60px;
  height: 60px;
  animation-delay: 5s;
  animation-duration: 66s;
}

.search-bg li:nth-child(12) {
  top: 387px;
  left: 30%;
  width: 40px;
  height: 40px;
  animation-duration: 23s;
}


@keyframes animate-rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}






/*------------------------------------------------------------------------------
| RESPONSIBLE - MediaQuery Size
|.............................................................................*/
/* PC *******************************************************/
@media screen and (max-width: 1024px) {  /* PC to Tablet : 0~1024 */

  .title-type1 {font-size: 4rem;}

  .title {font-size: 2.8rem;}


  /* 1024 Main Contents */
  #home_gif {padding: 10rem 0;}

  #brand_rolling .imgbox {height: 4rem;}

  #home_search .search-bar .sns-select {width: 35%;}
  #home_search .search-bar .autocomplete-box {width: 65%;}
  #home_search .search-bar .sns-select .sns-current {font-size: 1.3rem;}
  #home_search .search-bar .sns-select .sns-list li button {font-size: 1.3rem;}

  .home_service .img-area {position: relative;left: auto !important;top: auto !important;right: auto !important;width: 80% !important;margin: 3rem auto 0;}
  .home_service .text-area {margin: 0 auto !important;width: 70% !important;max-width: none !important;text-align: center;}
  .home_service .text-area .sub-text2 br,
  .home_service .text-area .list-type1 br {display: none;}
  .home_service .list-type1 {display: inline-block;}
  .home_service .js-toggle-content {float: none;}

  #home_service1 {padding-top: 6rem;}
  #home_service2 {padding-top: 6rem;}
  #home_service3 {padding-top: 6rem;padding-bottom: 3rem;}
  #home_service4 {padding-top: 6rem;}
  #home_service5 {padding-top: 6rem;padding-bottom: 0;}









}
/* Tablet ************************************************/
@media screen and (max-width: 786px) { /* Tablet to Mobile : 0~786 */

  /*786 Common*/
  .title-type1 {font-size: 3rem;-ms-word-break: keep-all;word-break: keep-all;}
  .title-type1 br {display: none;}

  .title-type2 {font-size: 2.5rem;-ms-word-break: keep-all;word-break: keep-all;}
  .title-type2 br {display: none;}

  .sub-text1, .sub-text2  {font-size: 1.3rem;-ms-word-break: keep-all;word-break: keep-all;}
  .sub-text1 br, .sub-text2 br {display: none;}


  .title {font-size: 2.2rem;letter-spacing: 0;-ms-word-break: keep-all;word-break: keep-all;}


  /* 786 Main Contents */
  #home_graphic {padding: 6rem 0;}
  #home_graphic .underline1:before {display: none;}
  #home_graphic .underline1 em {position: relative;display: inline-block;}
  #home_graphic .underline1 em:before {content: '';position: absolute;left: 0;width: 100%;height: 100%;bottom: -0.2rem;background: url(../images/main/underline1.svg) 0 bottom no-repeat;-webkit-background-size: auto 50%;background-size: auto 50%;z-index: -1;}
  #home_graphic .btn-area button {display: block;margin: 0 auto;min-width: 80%;}
  #home_graphic .btn-area button+button {margin-top: 1rem;}


  #home_brand {padding: 5rem 0;}
  #home_brand .title br {display: none;}
  #brand_rolling {margin-top: 2rem;}
  #brand_rolling .imgbox {height: 3rem;}


  #home_search {padding: 6rem 0;}
  #home_search .search-bar {width: 95%;}
  #home_search .search-bar .sns-select, #home_search .search-bar .btn-search, #home_search .search-bar .autocomplete-box {height: 4.8rem;}
  #home_search .search-bar .sns-select {width: 30%;}
  #home_search .search-bar .sns-select .sns-current {font-size: 0 !important;}
  #home_search .search-bar .sns-select .sns-current .sns-icon {width: 2.2rem;height: 2.2rem;}
  #home_search .search-bar .sns-select .sns-list {width: 200%;}
  #home_search .search-bar .autocomplete-box {width: 70%;}
  #home_search .search-bar .autocomplete-box .input-text {font-size: 1.2rem;text-indent: 0;padding-right: 6rem;}
  #home_search .search-bar .btn-search {width: 5rem;-webkit-background-size: 40%;background-size: 40%;}
  #home_search .box-list li {float: none;width: 100%;margin: 1rem;}
  #home_search .box-list li .display-t {width: auto;height: auto;display: block;}
  #home_search .box-list li .display-tc {position: relative;display: block;padding: 1rem 2rem;font-size: 1.4rem;}
  #home_search .box-list li .display-tc br {display: none;}
  #home_search .box-list li .display-tc .text i {position: absolute;right: 1.5rem;top: 50%;height: 2.2rem;margin-top: -1.1rem;}
  #home_search .box-list li .display-tc .text i img {max-height: 100%;}


  #home_data {padding: 6rem 0;}
  #home_data .title br {display: none;}


  .home_service .sub-text2 {margin-top: 1.6rem;}
  .home_service .text-area {width: auto !important;}
  .home_service .img-area {width: auto !important;}


  #home_quality {padding: 5rem 0;}
  #home_quality .quality-list {margin-top: 1rem;}
  #home_quality .quality-list li {float: none;width: 100%;}
  #home_quality .quality-list li div {font-size: 1.4rem;}





}
/* Mobile ************************************************/
@media screen and (max-width: 481px) { /* Mobile : 0~481 */














}





