<!DOCTYPE html>
<html lang="ko">
<head>
	<title>고교정보 관리시스템</title>
	<meta http-equiv="Content-Type" content="text/html; charset=euc-kr" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<!--<meta name="viewport" content="user-scalable=no, width=device-width" />	-->
	<link rel="stylesheet" type="text/css" href="../css/default.css" />
	<link rel="stylesheet" type="text/css" href="../css/jquery.bxslider.css" />
	<script type="text/javascript" src="../js/jquery-1.8.3.min.js" ></script>
	<script type="text/javascript" src="../js/respond.js_html5shiv.js" ></script>
	<script type="text/javascript" src="../js/jquery.backgroundSize.js" ></script>
	<script type="text/javascript" src="../js/jquery.matchHeight-min.js" ></script>
	<script type="text/javascript" src="../js/jquery.bxslider.min.js" ></script>
	<script type="text/javascript" src="../js/jquery.tm.horizon.min.js" ></script>
	<script type="text/javascript" src="../js/default.js" ></script>
	<!--[if lt IE 9]>
		<script>
			window.open('ie.html','iePop','width=588,height=281,left=0,top=0')
		</script>
	<![endif]-->
</head>
<body>


	<!-- header -->
	<div id="top">
		<div class="center_align clearfix">
			<h2><img src="../img/common/top_h2.png" alt="고교정보 관리 시스템"></h2>
			<div class="search">
				<ul class="clearfix">
					<li><a href="#">LOGOUT</a></li>
					<li><a href="#">SITEMAP</a></li>
					<li><a href="#">MY PAGE</a></li>
				</ul>
				<input type="text" />
				<a class="btnSearchM" href="#"><!-- mobile에서만 보임 --></a>
				<a class="btnSearch" href="#">검색하기</a>
			</div>
		</div>
	</div>

	<div id="gnb">
		<div class="center_align clearfix">
			<h1><img src="../img/common/logo.png" alt="경북대학교"></h1>
			<ul class="menu celarfix">
				<li class="m1">
					<a href="#">서비스 소개</a>
					<ul>
						<li><a href="#">서비스 소개</a></li>
						<li><a href="#">서비스 안내</a></li>
						<li><a href="#">고교 리스트</a></li>
					</ul>
				</li>
				<li class="m2">
					<a href="#">학사일정 관리</a>
					<ul>
						<li><a href="#">학사일정 관리</a></li>
					</ul>
				</li>
				<li class="m3">
					<a href="#">고교 정보관리</a>
					<ul>
						<li><a href="#">고교 기본정보</a></li>
						<li><a href="#">통합 비교검색</a></li>
						<li><a href="#">학업성취도 통계</a></li>
						<li><a href="#">지원자 통계</a></li>
						<li><a href="#">합격자 통계</a></li>
					</ul>
				</li>
				<li class="m4">
					<a href="#">교육활동 관리</a>
					<ul>
						<li><a href="#">입학전형 설명회</a></li>
						<li><a href="#">고교 방문상담</a></li>
						<li><a href="#">고교 대학연계</a></li>
					</ul>
				</li>
				<li class="m5">
					<a href="#">자료실</a>
					<ul>
						<li><a href="#">공지사항</a></li>
						<li><a href="#">모집요강</a></li>
						<li><a href="#">자료실</a></li>
					</ul>
				</li>
			</ul>
			
			<div id="btnMenu">
				<a href="#">모바일 메뉴</a>
				<ul class="celarfix">
					<li class="m1">
						<a href="#">서비스 소개</a>
						<ul>
							<li><a href="#">서비스 소개</a></li>
							<li><a href="#">서비스 안내</a></li>
							<li><a href="#">고교 리스트</a></li>
						</ul>
					</li>
					<li class="m2">
						<a href="#">학사일정 관리</a>
						<ul>
							<li><a href="#">학사일정 관리</a></li>
						</ul>
					</li>
					<li class="m3">
						<a href="#">고교 정보관리</a>
						<ul>
							<li><a href="#">고교 기본정보</a></li>
							<li><a href="#">통합 비교검색</a></li>
							<li><a href="#">학업성취도 통계</a></li>
							<li><a href="#">지원자 통계</a></li>
							<li><a href="#">합격자 통계</a></li>
						</ul>
					</li>
					<li class="m4">
						<a href="#">교육활동 관리</a>
						<ul>
							<li><a href="#">입학전형 설명회</a></li>
							<li><a href="#">고교 방문상담</a></li>
							<li><a href="#">고교 대학연계</a></li>
						</ul>
					</li>
					<li class="m5">
						<a href="#">자료실</a>
						<ul>
							<li><a href="#">공지사항</a></li>
							<li><a href="#">모집요강</a></li>
							<li><a href="#">자료실</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="gnbBg"></div>
	</div>
	<!--// header -->




	<!-- 서브 시작 -->
	<div id="sub" class="s3">
		<div id="topV"><div class="center_align"><h4>통합 비교검색</h4></div></div>
		<div class="center_align clearfix">


			<!-- 왼쪽메뉴(Left Menu) -->
			<div id="lnb">
				<h3>고교정보관리</h3>
				<ul>
					<li><a href="#">고교 공시정보</a></li>
					<li class="on"><a href="#">통합 비교검색</a></li>
					<li><a href="#">학업성취도 현황</a></li>
					<li><a href="#">지원자 현황</a></li>
					<li><a href="#">합격자 현황</a></li>
					<li><a href="#">대학별 정보 관리</a></li>
				</ul>
			</div>




			<!-- 내용시작 -->
			<div id="con">
				


				<!-- 탭 -->
				<ul class="tab t2 clearfix mt0">
					<li><div><a href="#">지표검색결과 </a></div></li>
					<li class="on"><div><a href="#">학교별 비교</a></div></li>
				</ul>
				<p class="topt mt20">
					자료기준년월일 : <span>2016년 04월</span> | 학교 급 : <span>일반고등학교</span> | 설립 구분 : <span>국립</span>    
				</p>
				

				
				<div class="btn_schoolAdd">
					<a href="#"><img src="../img/common/btn_add.png" alt="." /> 버튼을 눌러 학교를 추가해 주세요</a>
				</div>
				


				<!-- 레이어팝업 : 학교추가 -->
				<div id="schoolPop" class="">
					<div>
						<div class="searchWrap">
							<ul class="clearfix">
								<li>
									<div>
										<select class="sel1" name="a" id="a">
											<option value="시/도">시/도</option>
										</select>
									</div>
									<div>
										<select class="sel1" name="b" id="b">
											<option value="시/군/구">시/군/구</option>
										</select>							
									</div>
								</li>
								<li>
									<div class="input">
										<input type="text" placeholder="학교명을 검색해 주세요." />						
									</div>
									<div class="btn">
										<a class="bgBlue" href="#">검색하기</a>
									</div>
								</li>
							</ul>
						</div>

						<p>텍스트</p>

						<div class="btnStyle1 right">
							<a class="bgBlue" href="#">선택완료</a>
							<a class="close" href="#">닫기</a>
						</div>

					</div>
				</div>
				<!--//레이어팝업 -->



				<script type="text/javascript">
				jQuery(function($){
						/* Layer Popup */
						$('.btn_schoolAdd a').on('click', function(){
							if( $('#schoolPop').hasClass('on') ){
							
							}else{
								 $('#schoolPop').addClass('on');
							}
						});
						$('#schoolPop a.close').on('click', function(){
							$('#schoolPop').removeClass('on');
						});
				})
				</script>




<!-- <% if( ){  %> -->

				<!-- 학교 없을때 보임 -->
				<div class="schoolNo">선택된 학교가 없습니다. “학교추가”를 통해 등록하여 주세요.</div>
				
<!-- <% }else{ %> -->

				<!-- 학교 추가시 보임--> 
				<ul class="school clearfix">
					<li><div><span>서울고등학교</span><a href="#" class="btn_del">삭제</a></div></li>
					<li><div><span>서울고등학교</span><a href="#" class="btn_del">삭제</a></div></li>
					<li><div><span>서울고등학교</span><a href="#" class="btn_del">삭제</a></div></li>
					<li><div><span>서울고등학교</span><a href="#" class="btn_del">삭제</a></div></li>
					<li><div><span>서울고등학교</span><a href="#" class="btn_del">삭제</a></div></li>
					<li><div><span>서울고등학교</span><a href="#" class="btn_del">삭제</a></div></li>
				</ul> 

<!-- <% } %> -->



				<div class="btnStyle1 right">
					<a class="bgPurple magnify" href="#">선택한 학교 비교하기</a>
				</div>
				
				

				<div class="tit mt70">
					<h5>성별 학생수</h5>
					<div class="btnR">
						<a href="#">엑셀다운로드</a>
					</div>
				</div>
				

				<div class="table1 mt20">
					<div class="ov_h">
						<table>
							<colgroup>
								<col />
								<col style="width:16.6%;" />
								<col style="width:16.6%;" />
								<col style="width:16.6%;" />
								<col style="width:16.6%;" />
								<col style="width:16.6%;" />
							</colgroup>							
							<tr>
								<th>교과</th>
								<th>보통학력이상 (%) </th>
								<th>기초학력 (%) </th>
								<th>기초학력미달(%) </th>
								<th>응시인원 (명)</th>
								<th>응시율 (%)</th>
							</tr>
							<tr>
								<td>국어</td>
								<td>7</td>
								<td>205</td>
								<td>7</td>
								<td>198</td>
								<td>234</td>
							</tr>
							<tr>
								<td>수학</td>
								<td>7</td>
								<td>205</td>
								<td>7</td>
								<td>198</td>
								<td>234</td>
							</tr>
							<tr>
								<td>영어</td>
								<td>7</td>
								<td>205</td>
								<td>7</td>
								<td>198</td>
								<td>234</td>
							</tr>
						</table>
					</div>
				</div>
				
				




			</div>
			<!-- //내용끝 //sCon -->
		</div>





	</div>
	<!-- //서브 -->












	<!-- footer -->
	<div id="footer">
		<div class="center_align">
			<ul class="f_menu clearfix">
				<li>
					<div>
						<a href="#">서비스 소개</a>
						<ul>
							<li><a href="#">서비스 소개</a></li>
							<li><a href="#">서비스 안내</a></li>
							<li><a href="#">고교 리스트</a></li>
						</ul>
					</div>
				</li>
				<li>
					<div>
						<a href="#">학사일정 관리</a>
						<ul>
							<li><a href="#">학사일정 관리</a></li>
						</ul>
					</div>				
				</li>
				<li>
					<div>
						<a href="#">고교 정보관리</a>
						<ul>
							<li><a href="#">고교 기본정보</a></li>
							<li><a href="#">통합 비교검색</a></li>
							<li><a href="#">학업성취도 통계</a></li>
							<li><a href="#">지원자 통계</a></li>
							<li><a href="#">합격자 통계</a></li>
						</ul>
					</div>
				</li>
				<li>
					<div>
						<a href="#">교육활동 관리</a>
						<ul>
							<li><a href="#">입학전형 설명회</a></li>
							<li><a href="#">고교 방문상담</a></li>
							<li><a href="#">고교 대학연계</a></li>
						</ul>
					</div>
				</li>
				<li>
					<div>
						<a href="#">자료실</a>
						<ul>
							<li><a href="#">공지사항</a></li>
							<li><a href="#">모집요강</a></li>
							<li><a href="#">자료실</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>

		<div class="bottom">
			<div class="center_align clearfix">
				<p class="add">우)54538 전북 익산시 익산대로 460. TEL : 063-850-5114  FAX : 063-850-6666</p>
				<p class="copy">&copy; 2013 WONKWANG UNIVERSITY. All rights reserved</p>
			</div>
		</div>

	</div>
	<!-- //footer -->

	<script type="text/javascript" src="../js/init.js"></script>









</body>
</html>