@charset "utf-8";

/* RESET */
html, body, div, span,a, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video, label, input, textarea, select {margin: 0;padding: 0;border: 0 none;  color: #111; font-family: 'Nanum Gothic','Apple SD Gothic Neo','Malgun gothic','Helvetica','Dotum','Gulim',Sans-serif; vertical-align: baseline;line-height: 1.5;letter-spacing: -.01rem;}
html,body {height:100%;}
img,iframe {vertical-align:top;}
ul,ol {list-style:none;}
a {text-decoration:none;display: inline-block;color: inherit;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
label, input, textarea, select {vertical-align:middle}
i,em,address {font-style:normal}
table {width: 100%;border-collapse:collapse;border-spacing:0}
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-ms-word-break: keep-all;word-break: keep-all;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
input[type="submit"] {cursor: pointer;}
button {padding: 0; margin: 0; border: 0; background: none; cursor: pointer;  }



/* Font Size Setting */
@media screen and (min-width: 768px) {
	html {font-size: 18px;}
}
/* 351~767  font-size: 16px */
@media screen and (max-width: 350px) {
	html {font-size: 15px;}
}

/*****************************************************************************************************/
/*  COMMON  */
html, body  {height: 100%;}
body {min-width: 320px;}
img {max-width: 100%;}
span , a , em , b {font-size: inherit;color: inherit;}
a.noclick {cursor: default;}

.pos_r {position: relative;}
.pos_a {position: absolute;}

.d_b {display:block !important;}
.d_ib {display:inline-block !important;}
.d_n {display:none !important;}
.d_table {display: table;}
.d_tcell {display: table-cell;}

.clearfix { *zoom: 1; }
.clearfix:after {display:block;clear:both;content:'';}
.fleft {float: left;}
.fright {float: right;}

.tcenter {text-align: center !important;}
.tleft {text-align: left !important;}
.tright {text-align: right !important;}
.bold {font-weight: bold !important;}
.va_m {vertical-align: middle !important;}
.wordbreak { word-break: keep-all; word-wrap: break-word;}
.cur_p {cursor: pointer;}
.cur_d {cursor: default;}
.ellipsis {display: inline-block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.underline {text-decoration: underline !important;}

.ov_h {overflow: hidden;}
.ovx_scroll {overflow-x: scroll;}
.ovy_scroll {overflow-y: scroll;}



/* Width Size */
.maxW100 {max-width: 100% !important;}
.w100 {width: 100% !important;}
.w95 {width: 95% !important;}
.w90 {width: 90% !important;}
.w85 {width: 85% !important;}
.w80 {width: 80% !important;}
.w70 {width: 70% !important;}
.w65 {width: 65% !important;}
.w60 {width: 60% !important;}
.w50 {width: 50% !important;}
.w40 {width: 40% !important;}
.w30 {width: 30% !important;}
.w25 {width: 25% !important;}
.w20 {width: 20% !important;}
.w15 {width: 15% !important;}
.w10 {width: 10% !important;}




/* height Size */
.ht2 {height: 2rem;} /*=btn_st2*/
.ht3 {height: 3rem;}
.ht4 {height: 4rem;}




/*------------------------------------------------------------------------------
| 여백  16px = 1rem 기준
|.............................................................................*/
.mt0  { margin-top : 0 !important; }        .mb0  { margin-bottom: 0 !important; }
.mt10 { margin-top :0.625rem !important; }  .mb10 { margin-bottom:0.625rem !important; }
.mt15 { margin-top :0.9375rem !important; } .mb15 { margin-bottom:0.9375rem !important; }
.mt20 { margin-top :1.25rem !important; }   .mb20 { margin-bottom:1.25rem !important; }
.mt30 { margin-top :1.875rem !important; }  .mb30 { margin-bottom:1.875rem !important; }
.mt40 { margin-top :2.5rem !important; }    .mb40 { margin-bottom:2.5rem !important; }
.mt50 { margin-top :3.125rem !important; }  .mb50 { margin-bottom:3.125rem !important; }
.mt60 { margin-top :3.75rem !important; }   .mb60 { margin-bottom:3.75rem !important; }
.mt70 { margin-top :4.375rem !important; }  .mb70 { margin-bottom:4.375rem !important; }
.mt80 { margin-top :5rem !important; }      .mb80 { margin-bottom:5rem !important; }
.mt90 { margin-top :5.625rem !important; }  .mb90 { margin-bottom:5.625rem !important; }
.mt100 { margin-top :6.25rem !important; }  .mb100 { margin-bottom:6.25rem !important; }
.ml0 { margin-left: 0 !important; }         .mr0 { margin-right: 0 !important; }
.ml10 { margin-left:0.625rem !important; }  .mr10 { margin-right :0.625rem !important; }
.ml20 { margin-left:1.25rem !important; }   .mr20 { margin-right :1.25rem !important; }
.ml30 { margin-left:1.875rem !important; }  .mr30 { margin-right :1.875rem !important; }
.ml40 { margin-left:2.5rem !important; }    .mr40 { margin-right :2.5rem !important; }
.ml50 { margin-left:3.125rem !important; }  .mr50 { margin-right :3.125rem !important; }

.pd1 {padding: 1rem !important;}
.pt0  { padding-top : 0   !important; }      .pb0  { padding-bottom: 0 !important; }
.pt10 { padding-top :0.625rem !important; }  .pb10 { padding-bottom:0.625rem !important; }
.pt15 { padding-top :0.9375rem !important; } .pb15 { padding-bottom:0.9375rem !important; }
.pt20 { padding-top :1.25rem !important; }   .pb20 { padding-bottom:1.25rem !important; }
.pt30 { padding-top :1.875rem !important; }  .pb30 { padding-bottom:1.875rem !important; }
.pt40 { padding-top :2.5rem !important; }    .pb40 { padding-bottom:2.5rem !important; }
.pt50 { padding-top :3.125rem !important; }  .pb50 { padding-bottom:3.125rem !important; }
.pt60 { padding-top :3.75rem !important; }   .pb60 { padding-bottom:3.75rem !important; }
.pt70 { padding-top :4.375rem !important; }  .pb70 { padding-bottom:4.375rem !important; }
.pt80 { padding-top :5rem !important; }      .pb80 { padding-bottom:5rem !important; }
.pt90 { padding-top :5.625rem !important; }  .pb90 { padding-bottom:5.625rem !important; }
.pt100 { padding-top :6.25rem !important; }  .pb100 { padding-bottom:6.25rem !important; }

.pl0 { padding-left: 0 !important; }         .pr0 { padding-right: 0 !important; }
.pl8  { padding-left: 8px !important; }      .pr8  { padding-right : 8px !important; }
.pl10 { padding-left:0.625rem !important; }  .pr10 { padding-right :0.625rem !important; }
.pl20 { padding-left:1.25rem !important; }   .pr20 { padding-right :1.25rem !important; }
.pl30 { padding-left:1.875rem !important; }  .pr30 { padding-right :1.875rem !important; }
.pl40 { padding-left:2.5rem !important; }    .pr40 { padding-right :2.5rem !important; }
.pl50 { padding-left:3.125rem !important; }  .pr50 { padding-right :3.125rem !important; }
.pl50 { padding-left:3.125rem !important; }  .pr50 { padding-right :3.125rem !important; }
.pl50 { padding-left:3.125rem !important; }  .pr50 { padding-right :3.125rem !important; }
.pl60 { padding-left:3.75rem !important; }   .pr60 { padding-right :3.75rem !important; }
.pl70 { padding-left:4.375rem !important; }  .pr70 { padding-right :4.375rem !important; }
.pl80 { padding-left:5rem !important; }      .pr80 { padding-right :5rem !important; }
.pl90 { padding-left:5.625rem !important; }  .pr90 { padding-right :5.625rem !important; }
.pl100 { padding-left:6.25rem !important; }  .pr100 { padding-right :6.25rem !important; }




/* Font Size */
.f0 {font-size: 0 !important;}
.f1 {font-size: 0.0625rem;}
.f2 {font-size: 0.125rem;}
.f3 {font-size: 0.1875rem;}
.f4 {font-size: 0.25rem;}
.f5 {font-size: 0.3125rem;}
.f6 {font-size: 0.375rem;}
.f7 {font-size: 0.4375rem;}
.f8 {font-size: 0.5rem;}
.f9 {font-size: 0.5625rem;}
.f10 {font-size: 0.625rem;}
.f11 {font-size: 0.6875rem;}
.f12 {font-size: 0.75rem;}
.f13 {font-size: 0.8125rem;}
.f14 {font-size: 0.875rem;}
.f15 {font-size: 0.9375rem;}
.f16 {font-size: 1rem;}
.f17 {font-size: 1.063rem;}
.f18 {font-size: 1.125rem;}
.f19 {font-size: 1.188rem;}
.f20 {font-size: 1.25rem;}
.f21 {font-size: 1.313rem;}
.f22 {font-size: 1.375rem;}
.f23 {font-size: 1.438rem;}
.f24 {font-size: 1.5rem;}
.f25 {font-size: 1.563rem;}
.f26 {font-size: 1.625rem;}
.f27 {font-size: 1.688rem;}
.f28 {font-size: 1.75rem;}
.f29 {font-size: 1.813rem;}
.f30 {font-size: 1.875rem;}
.f31 {font-size: 1.938rem;}
.f32 {font-size: 2rem;}
.f33 {font-size: 2.063rem;}
.f34 {font-size: 2.125rem;}
.f35 {font-size: 2.188rem;}
.f36 {font-size: 2.25rem;}
.f37 {font-size: 2.313rem;}
.f38 {font-size: 2.375rem;}
.f39 {font-size: 2.438rem;}
.f40 {font-size: 2.5rem;}
.f41 {font-size: 2.563rem;}
.f42 {font-size: 2.625rem;}
.f43 {font-size: 2.688rem;}
.f44 {font-size: 2.75rem;}
.f45 {font-size: 2.813rem;}
.f46 {font-size: 2.875rem;}
.f47 {font-size: 2.938rem;}
.f48 {font-size: 3rem;}
.f49 {font-size: 3.063rem;}
.f50 {font-size: 3.125rem;}
.f51 {font-size: 3.188rem;}
.f52 {font-size: 3.25rem;}
.f53 {font-size: 3.313rem;}
.f54 {font-size: 3.375rem;}
.f55 {font-size: 3.438rem;}
.f56 {font-size: 3.5rem;}
.f57 {font-size: 3.563rem;}
.f58 {font-size: 3.625rem;}
.f59 {font-size: 3.688rem;}
.f60 {font-size: 3.75rem;}


/*letter spacing*/
.ls05 {letter-spacing: .05rem;} /*영문 사이 간격 늘릴때..*/
.ls0 {letter-spacing: 0;}
.ls-05 {letter-spacing: -.05rem;}
	
	
	
	/* color */
.c_blue1 {color: #004b85 !important;}
.c_blue2 {color: #4c9cf1 !important;}
.c_blue3 {color: #204b80 !important;}
.c_red1 {color: #ed174b !important;}
.c_gray1 {color: #979797 !important;}
.c_gray2 {color: #2f2f2f !important;}
.c_bk1 {color: #1c191a !important;}



/* arrow  / icon */
.icon_arr_r:after {content: '';position: absolute;right: 1rem;top: 50%;margin-top: -4px;margin-left: 6px;width: 6px;height: 6px;border-left: 3px solid #000;border-bottom: 3px solid #000;-webkit-transform: rotate(225deg);transform: rotate(225deg);}





/********************************************************************************************************/
/********************************************************************************************************/
/*  FORM  */
/* placeholder sample
	input[type="text"]::-webkit-input-placeholder {}
	input[type="text"]:-ms-input-placeholder {}
	input[type="text"]::placeholder {}
	*/

/* input style ************/
input[type="text"], input[type="password"] {border: 1px solid #ccc;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}

input[type="text"].input_st1,
input[type="password"].input_st1 {height: 1.8rem;padding-left: .5rem;vertical-align: top;}



/* textarea ***************/
textarea {padding: .5rem;border: 1px solid #ccc;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
table textarea {width: 98%;margin: .2rem 0;}



/* select box ************/
select {border: 1px solid #ccc;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;vertical-align: top;background: #fff;}
select.sel_st1 {height: 2.01rem;}
select.sel_st2 {border: none;width: 100%;height: 100%;padding-left: .5rem;}
select.sel_st3 {height: 2rem;padding: 0 .5rem;}



/* search style ********/
.search_st1 {display: inline-block;vertical-align: middle;}
.search_st1:after {clear: both;content: '';display: inline-block;}
.search_st1 input,
.search_st1 button {float: left;height: 2rem;padding: 0;margin: 0;border: 1px solid #ccc;}
.search_st1 input {width: 70%;border-right: none !important;-webkit-border-radius: 3px 0 0 3px;-moz-border-radius: 3px 0 0 3px;border-radius: 3px 0 0 3px;text-indent: .5rem;}
.search_st1 button {width: 30%;border-left: none !important;-webkit-border-radius: 0 3px 3px 0;-moz-border-radius: 0 3px 3px 0;border-radius: 0 3px 3px 0;}



/*파일첨부
.inputfile {}
.inputfile:after {clear: both;content: '';display: block;}
.inputfile input[type="text"] {float: left;width: 75%;}
.inputfile .btn_file {float: right;width: 24%;height: 36px;line-height: 36px;display: block;background: #808285;text-align: center;color: #fff;font-size: 1.125rem;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
*/










/********************************************************/
/*  TABLE Style ****************************************/
table.noshdw {-webkit-box-shadow: none !important;-moz-box-shadow: none !important;box-shadow: none !important;}

/* list table style1 (세로라인없음 ex.알림함)*/
table.tbl_list {-webkit-box-shadow: 4px 6px 8px rgba(0,0,0,.1);-moz-box-shadow: 4px 6px 8px rgba(0,0,0,.1);box-shadow: 4px 6px 8px rgba(0,0,0,.1);}
table.tbl_list th,
table.tbl_list td {padding: .3rem .3rem;font-size: .75rem;text-align: center;vertical-align: middle;}
table.tbl_list th {background: #3896bc;color: #fff;}
table.tbl_list td {background: #fff;border-bottom: 1px solid #eee;color: #111;}



/* list table style2 */
table.tbl_list2 {-webkit-box-shadow: 4px 6px 8px rgba(0,0,0,.1);-moz-box-shadow: 4px 6px 8px rgba(0,0,0,.1);box-shadow: 4px 6px 8px rgba(0,0,0,.1);}
table.tbl_list2 th,
table.tbl_list2 td {border-right: 1px solid #eee;padding: .3rem .3rem;font-size: .75rem;text-align: center;vertical-align: middle;}
table.tbl_list2 th:last-child,
table.tbl_list2 td:last-child {border-right: none;}
table.tbl_list2 th {background: #3896bc;color: #fff;}
table.tbl_list2 td {background: #fff;border-bottom: 1px solid #eee;color: #111;}


	
/* view table style1 */
table.tbl_view {-webkit-box-shadow: 4px 6px 8px rgba(0,0,0,.1);-moz-box-shadow: 4px 6px 8px rgba(0,0,0,.1);box-shadow: 4px 6px 8px rgba(0,0,0,.1);}
table.tbl_view th,
table.tbl_view td {border-bottom: 1px solid #ddd;padding: .3rem .3rem;font-size: .75rem;text-align: center;vertical-align: middle;}
table.tbl_view th {background: #3896bc;color: #fff;}
table.tbl_view td {background: #fff;color: #111;}
table.tbl_view.pd th,
table.tbl_view.pd td {padding: .6rem .5rem;}
table.tbl_view thead th {background: #1f6b89;color: #fff;border: none;}
table.tbl_view .bdr {border-right: 1px solid #ddd !important;}




/* view table style2 : line 없음 그림자 없음 ex)고객이력조회 */
table.tbl_view2 {}
table.tbl_view2 th,
table.tbl_view2 td {padding: .2rem .3rem;font-size: .9rem;font-weight: bold;vertical-align: top;text-align: left;}
table.tbl_view2 th {color: #111;}
table.tbl_view2 td {color: #111;}
table.tbl_view2 .date {font-weight: bold;color: #ed174c;}
table.tbl_view2 .name {font-weight: bold;color: #004b85;}





/* title link */
table .title_link {display: block;max-width: 35vw;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;text-align: left;color: #004b85;}





/*******************/
/* PAGER */











/********************************************************/
/*  BUTTON - btn style  */
.btn_delete {display: inline-block;width: 1rem;height: 1rem;margin-left: .2rem;background: url(../img/common/btn_delete.png) center center no-repeat;-webkit-background-size: contain;background-size: contain;font-size: 0;vertical-align: middle;}

.btn_close {width: 3rem;min-height: 1rem;padding: 0 1rem;background: url(../img/common/btn_close.png) center center no-repeat;-webkit-background-size:  auto 45%;background-size: auto 45%;font-size: 0;vertical-align: middle;}

.btn_prev {width: 3rem;min-height: 1rem;padding: 0 1rem;background: url(../img/common/btn_prev.png) center center no-repeat;-webkit-background-size:  auto 45%;background-size: auto 45%;font-size: 0;vertical-align: middle;}

.btn_calendar {display: inline-block;width: 1.1rem;height: 1.1rem;padding: 0 1rem;background: url(../img/common/btn_calendar.png) center center no-repeat;-webkit-background-size:  contain;background-size: contain;font-size: 0;vertical-align: middle;}

.btn_file {display: inline-block;width: 1.1rem;height: 1.1rem;padding: 0 1rem;background: url(../img/common/btn_file.png) center center no-repeat;-webkit-background-size:  contain;background-size: contain;font-size: 0;vertical-align: middle;}

.btn_camera {display: inline-block;width: 1.1rem;height: 1.1rem;padding: 0 1rem;background: url(../img/common/btn_camera.png) center center no-repeat;-webkit-background-size:  contain;background-size: contain;font-size: 0;vertical-align: middle;}


.btn_search {width: 1.1rem;height: 1.1rem;padding: 0 1rem;background: url(../img/common/btn_search.png) center center no-repeat;-webkit-background-size: auto 50%;background-size: auto 50%;font-size: 0;vertical-align: middle;}



/*large *****/
.btn_st1 {display: block;width: 100%;padding: .7rem 0 .7rem;background: #204b80;font-size: 1rem;color: #fff;text-align: center;}


/*mid *****/
.btn_st2 {display: inline-block;padding: .3rem .7rem;border: 1px solid #204b80;background: #204b80;color: #fff;font-size: .9rem;}
.btn_st3 {display: inline-block;padding: .3rem .7rem;border: 1px solid #204b80;background: #fff;color: #204b80;font-size: .9rem;}
.btn_st4 {display: inline-block;padding: .3rem .7rem;border: 1px solid #e8e8e8;background: #fff;color: #666;font-size: .9rem;}
.btn_st5 {display: inline-block;padding: .3rem .7rem;border: 1px solid #e8e8e8;background: #e8e8e8;color: #666;font-size: .9rem;}


/*small *****/
.btn_st2_s {display: inline-block;padding: .3rem 1rem .35rem;border: 1px solid #204b80;background: #204b80;color: #fff;font-size: .75rem;}
.btn_st3_s {display: inline-block;padding: .3rem 1rem .35rem;border: 1px solid #204b80;background: #fff;color: #204b80;font-size: .75rem;}
.btn_st4_s {display: inline-block;padding: .3rem 1rem .35rem;border: 1px solid #e8e8e8;background: #fff;color: #666;font-size: .75rem;}
.btn_st5_s {display: inline-block;padding: .3rem 1rem .35rem;border: 1px solid #e8e8e8;background: #e8e8e8;color: #666;font-size: .75rem;}







/********************************************************/
/*text style*/
.tit1 {position: relative;font-size: 1rem;color: #1c191a;font-weight: bold;}
.tit1:after {clear: both;content: '';display: block;}
.tit1 button.fright {float: right;margin-top: -.2rem;}








/********************************************************/
/* TAB style  *******************************************/
.tab_st1 {}
.tab_st1 ul {display: table;width: 100%;border-bottom: 2px solid #eee;}
.tab_st1 li {display: table-cell;vertical-align: middle;}
.tab_st1 li a {display: block;padding: .65rem 0;text-align: center;font-size: 1rem;color: #111;}
.tab_st1 li.on a {position: relative;font-weight: bold;}
.tab_st1 li.on a:after {content: '';position: absolute;left: 0;bottom: -2px;width: 100%;height: 3px;background: #4c9cf1;}




/********************************************************/
/* BOX style */
.box_wh_sd {background: #fff;-webkit-box-shadow: 4px 6px 8px rgba(0,0,0,.1);-moz-box-shadow: 4px 6px 8px rgba(0,0,0,.1);box-shadow: 4px 6px 8px rgba(0,0,0,.1);}





/********************************************************/
/* List style */
.lst_st1 {}
.lst_st1>li {position: relative;font-size: .9rem;color: #1c191a;}
.lst_st1>li+li {border-top: 1px solid #eee;}
.lst_st1>li:first-child,
.lst_st1>li a {padding: .6rem .8rem;}
.lst_st1>li a {display: block;}





/********************************************************/
/* popup style ********************************************/
.popup {z-index: 999;display: none;}
.popup:before {content: '';position: fixed;left: 0;top: 0;width: 100vw;height: 100vh;background: rgba(0,0,0,.79);}/*dim-bg*/

/*pop- 기본 alert (yes/no)*/
.popup_st1 {position: fixed;left: 0;top: 0;width: 100vw;height: 100vh;}
.popup_st1 .popup_box {position: absolute;left: 50%;top: 22vh;width: 84vw;margin-left: -42vw;background: #fff;text-align: center;}
.popup_st1 .popup_box .txt_area {padding: 3rem 0 2.5rem;font-size: 1rem;color: #2f2f2f;font-weight: 700;}
.popup_st1 .popup_box .txt_area2 {padding: 2rem 1rem;}
.popup_st1 .popup_box .btn_area {border-top: 1px solid #eee;}
.popup_st1 .popup_box .btn_area:after {clear: both;content: '';display: block;}
.popup_st1 .popup_box .btn_area button {position: relative;float: left;width: 50%;color: #bbbbbb;padding: .8rem 0;font-weight: 700;font-size: 1rem;}
.popup_st1 .popup_box .btn_area button+button:before {content: '';position: absolute;left: 0;top: 0;width: 1px;height: 100%;background: #eee;}
.popup_st1 .popup_box .btn_area button:hover {color: #204b80;}
	
	
	/*pop- 고객이력조회/달력*/
.popup_st2 {position: fixed;left: 0;top: 0;width: 100vw;height: 100vh;}
.popup_st2 .popup_box {position: absolute;left: 50%;top: 2vh;width: 94vw;margin-left: -47vw;max-height: 96vh;background: #fff;}
.popup_st2 .poptit {position: relative;padding: .7rem 0;border-bottom: 1px solid #c6c6c6;font-size: 1rem;color: #343434;text-align: center;font-weight: bold;}
.popup_st2 .poptit .btn_close {position: absolute;right: 0;top: 0;height: 100%;-webkit-background-size: auto 30%;background-size: auto 30%;}
.popup_st2 .ovy_scroll {width: 90%;margin: .5rem auto;max-height: 78vh;}
.popup_st2 .history {}
.popup_st2 .history li {padding: 1.5rem 0;}
.popup_st2 .history li:first-child {padding-top: 0;}
.popup_st2 .history li+li {border-top: 1px solid #c6c6c6;}




/**********************************************************************************************/
/* #datepicker 일정(달력)*/
.hasDatepicker {background: #fff;padding-top: 1rem;}
.hasDatepicker * {-webkit-border-radius: 0 !important;-moz-border-radius: 0 !important;border-radius: 0 !important;}
.ui-widget.ui-widget-content {display: block;width: 100%;border: none;padding: 0;}
.ui-datepicker .ui-datepicker-header {background: none;border: none;}
.ui-datepicker .ui-datepicker-title {color: #111;font-size: .9rem;}
.ui-widget-header .ui-icon {background: none;}
.ui-datepicker .ui-datepicker-prev {left: 1rem;}
.ui-datepicker .ui-datepicker-next {right: 1rem;}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {position: absolute;right: auto;left: 50%;top: 50%;margin-top: -5px;margin-left: -5px;width: 10px;height: 10px;border-left: 2px solid #2b2b2b;border-bottom: 2px solid #2b2b2b;}
.ui-datepicker .ui-datepicker-prev span {-webkit-transform: rotate(45deg);transform: rotate(45deg);}
.ui-datepicker .ui-datepicker-next span {-webkit-transform: rotate(225deg);transform: rotate(225deg);}

.ui-datepicker table {margin: 1rem 0 0;} /*=.ui-datepicker-calendar*/
.ui-datepicker th {font-size: .75rem;color: #666;font-weight: normal;}
.ui-datepicker td {padding: 0;width: 14.285714%;border: 1px solid #ddd;vertical-align: top;}
.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default	{padding: .3rem 0 .3rem;border: none;/*background: none;*/text-align: center;font-size: .7rem;color: #666;background: none;height: 3.5rem;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {background: #eee;} /*현재날짜*/
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {background: #3995ba;color: #fff;} /*클릭날짜*/

/* 달력 - 건수*/
.ui-state-active .number, .ui-widget-content .ui-state-active .number, .ui-widget-header .ui-state-active .number {color: #fff;}
.ui-datepicker table .number {position: relative;display: block;margin-top: .3rem;padding-top: .3rem;text-align: center;font-weight: bold;color: #3995ba;}
.ui-datepicker table .number:before {content: '';position: absolute;left: 50%;top: 0;width: 50%;margin-left: -25%;height: 1px;background: #ddd;}
	
	
	





	
	
/**********************************************************************************************/
/* LAYOUT Common *****************************************************************************/
#wrap {position: relative;min-height: 100vh;background: #e9e9e9;}
#wrap.bg_w {background: #fff;}
#wrap>header {} /* #wrap>section.top_st1 */
#wrap>menubar {} /* #wrap>section */
#wrap>menutit {} /* #wrap>section */
#wrap>notice_info {} /* #wrap>section */
.contents {width: 95%;margin: .5rem auto 0;padding-bottom: 1rem;}




/***********************   상단   *************************/
header {height: 3.2rem;}
.top_st1 {width: 100%;background: #fff;}
.top_st1:after {clear: both;content: '';display: block;}
.top_st1 .logo {float: left;width: 6rem;max-width: 28%;text-align: center;}
.top_st1 .logo a {display: block;height: 100%;}
.top_st1 .logo img {max-width: 80%;max-height: 80%;vertical-align: middle;margin-top: -2px;}

.top_st1 .alarm {float: right;max-width: 72%;padding: 0.6rem 0;}
.top_st1 .alarm dl {border: 1px solid #dcdcdc;margin-right: .5rem;}
.top_st1 .alarm dl:after {clear: both;content: '';display: block;}
.top_st1 .alarm dt,
.top_st1 .alarm dd {float: left;padding: .3rem 0 .05rem;}
.top_st1 .alarm dt {width: 16%;}
.top_st1 .alarm dt .icon {display: block;margin: 0 auto;width: 1.1rem;position: relative;}
.top_st1 .alarm dt .icon .number {position: absolute;right: -.6rem;top: -.1rem;width: 1rem;height: 1rem;text-align: center;background: #c1002e;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;color: #fff;font-size: .7rem;}
.top_st1 .alarm dd {width: 82%;padding-left: 2%;}
.top_st1 .alarm dd:after {clear: both;content: '';display: block;}
.top_st1 .alarm dd .t1,
.top_st1 .alarm dd .t2 {float: left;font-size: .8rem;color: #1c191a;}
.top_st1 .alarm dd .t1 {}
.top_st1 .alarm dd .t1 span {display: inline-block;color: #b2b2b2;margin: 0 .15rem 0 .1rem;}
.top_st1 .alarm dd .t2 {overflow: hidden;width: 72%;white-space: nowrap;text-overflow: ellipsis;}
.top_st1 .alarm dd .t2:before {content: '';position: absolute;left: 0;top: 0;width: 1px;height: 1rem;background: #dcdcdc;}


/* 메인 메뉴 tab : 1depth */
.menubar {background: #aaa;}
.menubar .depth1:after {clear: both;content: '';display: block;}
.menubar .depth1 {display: table;width: 100%;background: #2f2f2f;border-bottom: 2px solid #3995ba;}
.menubar .depth1 li {display: table-cell;padding-top:.5rem;}
.menubar .depth1 li a {display: block;padding: .1rem 0 .6rem;text-align: center;font-size: .92rem;color: #c5c5c5;}
.menubar .depth1 li.on {}
.menubar .depth1 li.on a {background: #3995ba;color: #fff;}


/* 메뉴 타이틀 : title */
.menutit {position: relative;padding: .45rem 0 .48rem;background: #fff;border-bottom: 1px solid #dcdcdc;}
.menutit .txt {text-align: center;font-weight: bold;font-size: 1.1rem;}
.menutit .btn_prev {position: absolute;left: 0;top: 0;height: 100%;}
.menutit .btn_close {position: absolute;right: 0;top: 0;height: 100%;}



/*******************************************************/
/* 서브 메인 - 2depth : boxbtn */
.menubox {}
.menubox h2 {margin: 1.6rem 0 .8rem;font-size: 1.2rem;text-align: center;color: #1c191a;}
.menubox h2 .name {color: #004b85;}
.menubox .boxlst {width: 88%;margin: 0 auto;}
.menubox .boxlst:after {clear: both;content: '';display: block;}
.menubox .boxlst li {float: left;width: 50%;padding: .5rem;text-align: center;}
.menubox .boxlst li a {display: table;width: 100%;height: 8.5rem;background: #fff;position: relative;-webkit-box-shadow: 4px 6px 8px rgba(0,0,0,.1);-moz-box-shadow: 4px 6px 8px rgba(0,0,0,.1);box-shadow: 4px 6px 8px rgba(0,0,0,.1);}
.menubox .boxlst li a span {display: table-cell;vertical-align: middle;font-size: 1rem;font-weight: bold;color: #343434;}

.menubox .boxlst.size2 li a {height: 7.5rem;}

.menubox .boxlst li.long {width: 100%;}
.menubox .boxlst li.long a {height: 5rem;text-align: left;}
.menubox .boxlst li.long a span {padding-left: 2.7rem;}
.menubox .boxlst li.long i {position: absolute;right: 2rem;top: 50%;margin-top: -2rem;}


/* sub-menu icon */
.menubox .boxlst li i {display: block;margin: -.8rem auto 0;width: 4rem;height: 4rem;}
.menubox .boxlst li i.icon_1 {background: url(../img/common/icon_1.png) center center no-repeat;-webkit-background-size: contain;background-size: contain;}
.menubox .boxlst li i.icon_2 {background: url(../img/common/icon_2.png) center center no-repeat;-webkit-background-size: contain;background-size: contain;}
.menubox .boxlst li i.icon_3 {background: url(../img/common/icon_3.png) center center no-repeat;-webkit-background-size: contain;background-size: contain;}
.menubox .boxlst li i.icon_4 {background: url(../img/common/icon_4.png) center center no-repeat;-webkit-background-size: contain;background-size: contain;}
.menubox .boxlst li i.icon_5 {background: url(../img/common/icon_5.png) center center no-repeat;-webkit-background-size: contain;background-size: contain;}
.menubox .boxlst li i.icon_6 {background: url(../img/common/icon_6.png) center center no-repeat;-webkit-background-size: contain;background-size: contain;}
.menubox .boxlst li i.icon_7 {background: url(../img/common/icon_7.png) center center no-repeat;-webkit-background-size: contain;background-size: contain;}
.menubox .boxlst li i.icon_8 {background: url(../img/common/icon_8.png) center center no-repeat;-webkit-background-size: contain;background-size: contain;}
.menubox .boxlst li i.icon_9 {background: url(../img/common/icon_9.png) center center no-repeat;-webkit-background-size: contain;background-size: contain;}


/************************  하단  ************************/
/* bottom : 공지사항 안내 */
.notice_info {position: fixed;left: 0;bottom: 0;width: 100vw;padding: 1rem 0;background: #fff;}
.notice_info .tit {position: absolute;right: 0;top: -2rem;height: 2rem;padding: 0 1.2rem 0 1.5rem;line-height: 2.5rem;background: #fff;font-size: .88rem;color: #1c191a;font-weight: bold;}
.notice_info .tit:before {content: '';position: absolute;left: -2rem;top: 0;border-right: 2rem solid #fff;border-top: 2.5rem solid transparent;}
.notice_info .tit i {display: inline-block;position: absolute;left: 0;top: .75rem;width: 1rem;height: 1rem;background: url(../img/common/icon_notibox.png) center center no-repeat;-webkit-background-size: contain;background-size: contain;}
.notice_info .notibox {width: 92%;margin: 0 auto;background: #1064a5;}
.notice_info .notibox .box {display: block;overflow: hidden;white-space:nowrap;padding: .7rem 1rem;color: #fff;font-size: .8rem;-ms-text-overflow: ellipsis; text-overflow: ellipsis;}
.notice_info .notibox .box em {margin-right: .5rem;}









/*********************************************************************************************/
/**************************************   PAGE CUSTOM   **************************************/
/************************************/
/************** 로그인 **************/
.login_top {text-align: center;}
.login_top .logo1 {width: 18%;margin: 0 auto;padding-top: 5vh;}
.login_top .logo2 {width: 56%;margin: 6.5vh auto 0;}
.login_top .txt1 {margin-top: 2vh;font-size: .9rem;font-style:italic;font-weight: 100;color: #929292;opacity: .8;font-family: 'Arial','Apple SD Gothic Neo','Helvetica', Sans-serif;}
.login_top .txt2 {margin-top: .5vh;font-size: 1rem;color: #1c191a;}
.login_input {width: 84vw;margin: 8vh auto 0;text-align: center;}
.login_input .input_area {}
.login_input li {position: relative;margin-bottom: 2.5vh;}
.login_input li+li {margin-bottom: 3ch;}
.login_input input {padding: .6rem 1rem .6rem 3rem;width: 100%;font-size: 1.2rem;}
.login_input input::-webkit-input-placeholder {color: #aaa;}
.login_input input:-ms-input-placeholder {color: #aaa;}
.login_input input::placeholder {color: #aaa;}
.login_input .input_id:before,
.login_input .input_pw:before {content: '';position: absolute;left: 1rem;top: 50%; width: 1.6rem;height: 1.6rem;margin-top: -.8rem;}
.login_input .input_id:before {background: url(../img/login/icon_id.png) center center no-repeat;-webkit-background-size: contain;background-size: contain;}
.login_input .input_pw:before {background: url(../img/login/icon_pw.png) center center no-repeat;-webkit-background-size: contain;background-size: contain;}





/*************************************/
/************** 발주현황 **************/
/* - 상태 (상단공통)*/
.state {margin-bottom: 1rem;}
.state ul {display: table;width: 100%;}
.state ul li {display: table-cell;vertical-align: middle;}
.state ul li p {margin: 0 .2rem;padding: .2rem 0;background: #fff;border: 1px solid #d6d6d6;-webkit-box-shadow: 3px 3px 0 0 rgba(0,0,0,.04);-moz-box-shadow: 3px 3px 0 0 rgba(0,0,0,.04);box-shadow: 3px 3px 0 0 rgba(0,0,0,.04);text-align: center;font-size: .9rem;color: #6b6b6b;}
.state ul li:first-child p {margin-left: 0;}
.state ul li:last-child p {margin-right: 0;}
.state ul li.on p {background: #ff9436;border-color: #ff9436;color: #fff;}


/* - 스토리보드 입력 */
.storyboard {margin: 0;padding: 1rem !important;background: #eef1f3 !important;text-align: left !important;}
.storyboard li {position: relative;color: #979797;font-size: .8rem;font-weight: bold;}
.storyboard li:after {clear: both;content: '';display: block;}
.storyboard li strong {color: #111;}
.storyboard li button {margin-top: -.3rem;}


/* - 일정등록 */
.date_today {padding: 1rem .8rem;}
.date_today:after {clear: both;content: '';display: block;}
.date_today .date,
.date_today .number {float: right;font-size: .9rem;color: #1c191a;}
.date_today .date {float: left;}
.date_today .number {float: right;}

.schedulebox {padding: .6rem .6rem;}
.schedulebox .tbl_view2 th,
.schedulebox .tbl_view2 td {padding: .1rem .3rem;font-size: .8rem;}

.contact_time {padding: .8rem .8rem 1rem;}
.contact_time .tit {font-weight: bold;color: #1c191a;}
.contact_time .add {margin-top: .5rem;}
.contact_time .add:after {clear: both;content: '';display: block;}
.contact_time select {display: inline-block;text-align: right;}
.contact_time .hour {width: 49%;}
.contact_time .minute {width: 30%;}
.contact_time button {float: right;width: 18%;padding-left: 0;padding-right: 0;}


/* - 처리등록 : 결재 */
.signbox {margin-top: 1rem;background: #fff;border: 1px solid #b9b9b9;text-align: center;} /*고객서명*/

.paymentbox {width: 100%;height: 3rem;}
.paymentbox:after {clear: both;content: '';display: block;}
.paymentbox .case {float: left;display: table;height: 100%;}
.paymentbox .case label {display: table-cell;vertical-align: middle;padding: 0 1.2rem;font-weight: bold;color: #1c191a;}
.paymentbox button {float: right;width: 25%;height: 100%;padding-left: 0;padding-right: 0;}
